div#top_help_text {
  margin-top:10px;
  margin-bottom:10px;
  color:#333;
}

p.help {
  font-size:12px !important;
  margin-left:5px;
}

.inline-group .tabular tr.has_original td {
padding-top: .5em !important;
}