/* --- FUND --- */

/* general */
div#page_wrapper {
	width:640px;
}

div#content_area {
	border-style:solid;
	border-width:2px;
	border-radius:8px;
	border-color:#C07205;
	padding:15px;
	overflow:auto;
}

div.indent {
	margin-top:8px;
	margin-left:8px;
	margin-right:8px;
	margin-bottom:8px;
	padding:7px;
}

.hidden {
	display:none;
}

/* header & bar */
div#header {
	font-size:2em;
	text-align:center;
	line-height:1.5em;
	margin-bottom:.25em;
	font-weight:bold;
}

div#progress_container {
	width:636px;
	height:12px;
	border-style:solid;
	border-width:2px;
}

div#progress_bar {
	width:450px;
	height:12px;
	background:solid;
	background-color: #8B0E04;
}

div#progress_desc {
	text-align:center;
	margin-top:.5em;
	margin-bottom:1em;
}

/* blocks */
div#block_container {
	width:640px;
	height:200px;
	color:white;
}

div.top_block {
	width:200px;
	height:180px;
	background-color:#444;
	border-radius:8px;
	border-style:solid;
	border-width:2px;
	border-color:#333;
	float:left;
	padding:0px;
	cursor:pointer;
  position:relative;
}

div.top_block:hover {
	opacity:0.9;
  position:relative;
}

div.active_block {
	background-color:#D18316;
	border-color:#C07205;
}

div.block_header {
	font-weight:bold;
	text-align:center;
}

div.block-item {
	margin:10px;
}

div.block-bottom {
  position:absolute;
  bottom: 3px;
}

/* personal */
form{
	display:inline;
}

table.form {
	margin-top:10px;
	margin-bottom:10px;
}

table.form th {
	font-weight:normal;
	text-align:right;
	padding-right:5px;
  padding-bottom:5px;
	vertical-align:bottom;
}

table.form button {
	align:center;
}

div#notifications {
	text-align:center;
	margin-bottom:10px;
}

div.donor {
  border: 1px solid;
  border-color:#FFF;
	border-radius:2px;
}

div.donor_delete {
	text-align:center;
}

div.edit_done {
	float:right;
}

a.edit_done {
	margin-left:2px;
	margin-right:2px;
}

img.donor_tag {
	float:right;
	vertical-align:middle;
}

div.overdue_step {
	display:inline;
	color:red;
	font-weight:bold;
}

table.asked {
	width:290px;
}

div.donor_details table, div.donor_details tbody {
	width:100%;
	vertical-align:top;
}

div.donor_details td {
	width:45%;
}

div.ui-datepicker {
	background-color:#FFF;
	border:1px solid;
	border-color:#aaa;
	display:none;
}

div.ui-datepicker-title {
	text-align:center;
}

a.ui-datepicker-next {
	float:right;
}

input.half {
	width:50%;
}

input.tq {
	width:75%;
}

div.sugg_step {
	padding:4px;
	margin:4px;
	background-color:#EEE;
	border:1px solid;
	border-color:#333;
	cursor:pointer;
	display:inline-block;
}

div.sugg_step:hover {
	border-color:black;
}

div#stepmult {
	margin-top:15px;
}

div#stepmult input {
	margin-left:auto;
	margin-right:auto;
}

/* gp */
table.padded td{
	padding:5px;
}

/* error pages */
div.error_message {
	font-weight:bold;
}

/* support */
a.FAQ{
	display:block;
	margin-bottom:10px;
  font-weight:bold;
	/* color:#333; */
}

div#FAQ div {
  line-height:1.5em;
}

/* footer  */
table#footer {
	width:640px;
	font-size:0.75em;
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
}

div#admin-link {
	text-align:center;
}

div#login {
	text-align:right;
}

/* progress charts */

.chartholder {
  display:block;
  width:120px;
  height:120px;
}

.pie1, .pie2 { /* This gives the absolute positioning and size of the entire Pie */
  position: absolute;
  width: 100px;
  height: 100px;
  clip: rect(0px,50px,100px, 0px);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

#slice_new .pie1 { /* filled area of slice 1 - color and size */
   background-color: red;
   -webkit-transform: rotate(0deg);
  /* -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg); */
}

#slice_talked { /* Where slice 2 starts */
  -webkit-transform: rotate(0deg);
  /* -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg); */
}

#slice_talked .pie1 { /* filled area of slice 2 - color and size */
 background-color: green;
 -webkit-transform: rotate(0deg);
 /* -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg); */
}

#slice_asked { /* Where slice 3 starts */
  -webkit-transform: rotate(0deg);
  /* -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg); */
}

#slice_asked .pie1 { /* filled area of slice 3 - color and size */
  background-color: blue;
  -webkit-transform: rotate(0deg);
  /*transform: rotate(257deg); 
  -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   */
}

.central_hold { 
    /* This is the Center central_holder, keep the Slices glued togheter */
    position: absolute;
    width: 100px;
    height: 100px;
    clip: rect(0px,100px,100px,50px);
}

.central_hold_gt50 {
    clip:rect(auto, auto, auto, auto);
}​

.pie_key {
  width:100px;
  height:100px;
}

div#slice1_key{
  width:12px;
  height:12px;
  background-color:blue;
  float:left;
  margin-right:5px;
}

div#slice2_key {
  width:12px;
  height:12px;
  background-color:green;
  float:left;
  margin-right:5px;
}

div#slice3_key {
  width:12px;
  height:12px;
  background-color:red;
  float:left;
  margin-right:5px;
}

#slice_togo .pie2 { /* filled area of slice 1 - color and size */
   background-color: red;
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

#slice_pledged { /* Where slice 2 starts */
  -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
}

#slice_pledged .pie2 { /* filled area of slice 2 - color and size */
   background-color: green;
   -moz-transform: rotate(60deg);
   -webkit-transform: rotate(60deg);
   -o-transform: rotate(60deg);
   transform: rotate(60deg);
}

#slice_donated { /* Where slice 3 starts */
    -moz-transform: rotate(240deg);
    -webkit-transform: rotate(240deg);
    -o-transform: rotate(240deg);
    transform: rotate(240deg);
}

#slice_donated .pie2 { /* filled area of slice 3 - color and size */
   background-color: blue;
   -moz-transform: rotate(120deg);
   -webkit-transform: rotate(120deg);
   -o-transform: rotate(120deg);
   transform: rotate(120deg);
}