{% extends 'grants/base.html' %}
{% block script %}
<script type="text/javascript">
function confirmation(draft_pk) { //confirmation window before discarding a draft
	var conf = confirm("Discard this draft?  It cannot be recovered.")
	if (conf){
		window.location = '/apply/'+draft_pk+'/DELETE'
	}
}
</script>
{% endblock script %}
{% block content %}
{% load tz %}
<div align="center"><h3>{{organization}}</h3></div>

<h4>Saved drafts</h4>
	<ul>{% for save in saved %}
		<li>
		{% if save.editable %}<a href="{% url grants.views.Apply save.grant_cycle.pk %}">{{save.grant_cycle}}</a>,  last modified {{save.modified|date:"m/d h:ia"}} - due {{save.grant_cycle.close|date:"m/d h:ia"}}{% else %}<i>{{save.grant_cycle}} - cycle closed on {{save.grant_cycle.close|date:"m/d"}}</i>{% endif %} <a onclick="confirmation('{{save.pk}}')">[delete]</a></li>
	{% empty %}<li>None found</li>{% endfor %}</ul>

<h4>Submitted applications</h4>
	<ul>{%if submitted%}{%for sub in submitted%}
		<li><a href="{% url grants.views.ViewApplication sub.pk %}">{{sub.grant_cycle}} - submitted {{sub.submission_time|date:"m/d/y"}}</a></li>
	{%endfor%}{%else%}<li>None found</li>{%endif%}</ul>

<div align="center"><h3>SJF grant cycles</h3></div>

<h4>Currently accepting applications</h4>

<ul>
{% if open or applied %}
  {% for ope in open %}
    <li>{{ope}} - <a href="{% url grants.views.Apply ope.pk %}">open until {{ope.close|date:"m/d/y"}}</a></li>
  {% endfor %}
  {% for appl in applied %}
    <li>{{appl}} - open until {{appl.close|date:"m/d/y"}} - application submitted</li>
  {% endfor %}
{% else %}
  <li>No grants are being accepted at this time.</li>
{% endif %}
</ul>

<h4>Upcoming grant cycles</h4>

<ul>{%for up in upcoming%}
	<li>{{up}} - open {{up.open|date:"m/d/y"}} to {{up.close|date:"m/d/y"}}</li>
{% empty %}
	<li>No upcoming grant cycles.</li>
{% endfor %}</ul>

<h4>Recently closed grant cycles</h4>

<ul>{%for cl in closed%}
  <li>{{cl}} - open {{cl.open|date:"m/d/y"}} to {{cl.close|date:"m/d/y"}}
{% empty %}
  <li>No grant cycles closed in the last 6 months.</li>
{% endfor %}</ul>

{% endblock %}