{%extends 'grants/base.html'%}
{%block content%}
<div id="fontfree">
<div align="center">
<h2>{{app.organization}}</h2>
Submitted {{app.submission_time}}</div>
<br>
{{form.address.label}}: {{app.address}} {{app.city}}, {{app.state}} {{app.zip}}<br>
{{form.telephone_number.label}}: {{app.telephone_number}},  {{form.fax_number.label}}: {{app.fax_number}}<br>
{{form.email_address.label}}: {{app.email_address}}<br>
{{form.website.label}}: {{app.website}}<br>
{{form.contact_person.help_text}}: {{app.contact_person}}, {{app.contact_person_title}}<br>
<br>
{{form.status.label}}: {{app.status}}<br>
{{form.ein.label}}: {{app.ein}}<br>
{{form.founded.label}}: {{app.founded}}<br>
<br>
{{form.amount_requested.label}}: {{app.amount_requested}}<br>
{{form.support_type.label}}: {{app.support_type}}<br>
{{form.grant_period.label}}: {{app.grant_period}}<br>
{{form.start_year.label}}: {{app.start_year}}<br>
{{form.budget_last.label}}: ${{app.budget_last}}<br>
{{form.budget_current.label}}: ${{app.budget_current}}<br>
<br>
{{form.project_title.label}}: {{app.project_title|default:"N/A"}} <br>
{%if app.project_budget%}{{form.project_budget.label}}: ${{app.project_budget}}{%endif%}
<br>
{{form.mission.label}}: {{app.mission}}<br>
{{form.grant_request.label}}: {{app.grant_request}}<br>
<br>
{{form.fiscal_org.label}}: {{app.fiscal_org|default:"N/A"}}<br>
{%if app.fiscal_org%}
{{form.fiscal_person.label}}: {{app.fiscal_person}}<br>
{{form.fiscal_telephone.label}}: {{app.fiscal_telephone}}<br>
{{form.fiscal_email.label}}: {{app.fiscal_email}}<br>
{{form.fiscal_address.label}}: {{app.fiscal_address}}<br>
{%endif%}
<h3>Narrative</h3>
{{form.narrative1.label|safe}}<br>
{{app.narrative1}}<br><br>
{{form.narrative2.label|safe}}<br>
{{app.narrative2}}<br><br>
{{form.narrative3.label|safe}}<br>
{{app.narrative3}}<br><br>
{{form.narrative4.label|safe}}<br>
{{app.narrative4}}<br><br>
{{form.narrative5.label|safe}}<br>
{{app.narrative5}}<br><br>
{{form.collab_ref1_name.help_text}}<br>
{{app.collab_ref1_name}}, {{app.collab_ref1_org}}<br><br>
{{form.narrative5.label|safe}}<br>
{{app.narrative5}}<br><br>
<h3>Files</h3>
{%if app.budget %}
<b>Budget</b>: <a href="{{base_url}}grants/view-file/{{app.pk}}/budget">View</a><br>
{%endif%}
{%if app.demographics%}
<b>Demographics</b>: <a href="{{base_url}}grants/view-file/{{app.pk}}/demographics">View</a><br>
{%endif%}
{%if app.funding_sources%}
<b>Funding sources</b>: <a href="{{base_url}}grants/view-file/{{app.pk}}/funding">View</a><br>
{%endif%}

{% if app.fiscal_letter %}
<b>Fiscal sponsor letter</b>: <a href="{{base_url}}grants/view-file/{{app.fiscal_letter_name}}">View</a><br>
{% endif %}

</div>
{%endblock%}