<table style="width:100%">
  <tr>
    <td>
      <form id="{{formid}}">
        <table class="form">
          {{ form.as_table }}
        </table>
      </form>
      <div align="center">
				<img id = "ajax_loading" src="/static/images/ajaxloader.gif" style="display:none;" alt="Loading..."><br>
        <button onclick="Submit('{{action}}', '#{{formid}}', '{{divid}}', 'date')">Save</button>
        <button onclick="location.href='/fund/'">Cancel</button>
      </div>
    </td>
    <td>
      {% include 'fund/suggested_steps.html' %}
    </td>
  </tr>
</table>
