<form id="addcontacts" accept-charset="UTF-8">
  <table class="form" id="add_form" style="text-align:center">
  <tr>
    <td>{{ formset.management_form }}</td>
  </tr>
  <tr>
    <td>First name</td>
    <td>Last name</td>
  </tr>
	<tr>
		<td colspan="2">{{empty_error|safe}}</td>
	</tr>
  {%for form in formset%}
    <tr>
      <td>{{form.firstname.errors}}</td>
      <td>{{form.lastname.errors}}</td>
    </tr>
    <tr>
      <td>{{form.firstname}}</td>
      <td>{{form.lastname}}</td>
    </tr>
  {% endfor %}
  </table>
</form>
<div align="right" style="margin-right:40px;">
  <a onclick="addRow('#add_form tr:last', 'form')">Add more contacts</a>
</div>
<div align="center">
	<img id = "ajax_loading" src="/static/images/ajaxloader.gif" style="display:none;" alt="Loading..."><br>
  <button onclick="SubmitMult()">Save</button>
  <button onclick="location.href='/fund/'">Cancel</button>
</div>
