<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>{% block title %}- Project Central{% endblock %}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=2.0, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="/static/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/css/fundraising.css">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script type="text/javascript"><!--google analytics -->
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28076150-2']);
    
    //custom variable #1 user type, session level
    _gaq.push(['_setCustomVar', 1, 'User type', {% if user.username == 'sjfnwads@gmail.com' %}'Aisa'{% elif user.is_staff %}'Staff'{% elif request.membership_status > 0 %}'Member'{% elif user.is_authenticated %}'User without Member obj'{% else %}'Anonymous'{% endif %}, 2]); 
    //custom variable #2 giving project, page level
    _gaq.push(['_setCustomVar', 2, 'Giving project', {% if request.membership %}'{{request.membership.giving_project}}'{% else %}'None'{% endif %}, 3]);
    
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- SCRIPTS -->{% block script %}{% endblock %}
</head>

<body>
  <!-- HEADER -->
  <table class="header"><tr>
    <td style="width:161px;"><div align="center" style="padding-bottom:5px;"><a href="/fund"><img src="/static/images/logo2.png" alt="Project Central logo" height=80 width=160></a></div></td>
    {% block header %}{% endblock header %}
  </tr></table>
  {% block top %}{% endblock %}<!-- TOP BLOCKS -->
  <div class="content_area">
    {% block content %}{% endblock %}<!-- CONTENT -->
  </div>
  <table class="footer"><!-- FOOTER -->
    <tr>
      <td style="width:25%;">{% if member %}<a href="/fund/projects">your projects</a>{% endif %}</td>
      <td style="width:25%;text-align:center;"><a href="/fund/support">support/FAQ</a></td>
      <td style="width:15%;text-align:right;"><a href="http://socialjusticefund.org" target="_blank">sjf.org</a></td>
      <td style="width:35%;text-align:right;">{% if user.is_authenticated %}{{user.email|truncatechars:"21"}} | <a href="/fund/logout/">logout</a>{% endif %}</td>
    </tr>
  </table>
</body>
</html>