<form id = "{{ step_id }}_done_step" method="post" action="{{ action }}">
  <table class="form" style="width:98%;">
    <tr>
      <td style="width:32%;"></td>
      <td style="width:33%;"></td>
      <td style="width:33%;"></td>
    </tr>
    <!--- Complete step -->
    <tr>
      <td colspan="3" class="small-form-header">1) Complete a step: {{ step }}</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>{{ form.promised_amount.errors }}</td>
    </tr>
    <tr style="height:28px;" class="center">
      <td style="width:32%">
        {% if donor.asked %}Asked.{% endif %}<div id = "{{ step_id }}_asked">Asked<br>{{ form.asked }}</div>
      </td>
      <td style="width:33%">
        {% if donor.promised == 0 %}Declined.{% elif donor.promised %}Promised ${{ donor.promised }}.{% endif %}
        <span id = "{{ step_id }}_response">Response<br>{{ form.response }}</span>
      </td>
      <td style="width:33%">
        <span id="{{ step_id }}_promise">Promised<br>${{ form.promised_amount }}</span>
      </td>
    </tr>
    <!--- promise follow-up -->
    <tr>
      <td colspan="3" class="center">
        <table style="display:none; width:90%;" id="{{ step_id }}_promise_follow" class="promise-followup">
          <tr>
            <td colspan="3">
              <br>
              <p>Congratulations on a successful ask!</p>
              <p>Please provide some more information so that Social Justice Fund can follow up on the promise as needed.</p>
              <br>
            </td>
          <tr>
            <td>Last name</td>
            <td>Phone number</td>
            <td>Email address</td>
          </tr>
          <tr>
            <td>{{ form.last_name.errors }}</td>
            <td colspan="2">{{ form.phone.errors }}{{ form.email.errors }}</td>
          </tr>
          <tr>
            <td>{{ form.last_name }}</td>
            <td>{{ form.phone }}</td>
            <td>{{ form.email }}</td>
          </tr>
          <tr>
            <td colspan="2"><br>{{ form.promise_reason.label }}<br>{{ form.promise_reason.errors }}</td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="multiple-choice">{{ form.promise_reason }}</td>
            <td>{{ form.likely_to_join.label }}<br>{{  form.likely_to_join.errors }}<br><br>{{ form.likely_to_join }}</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="3" class="small-form-header">2) Update your notes for this contact <i>(optional)</i></td>
    </tr>
    <tr>
      <td colspan="2">{{ form.notes }}</td>
      <td>{{ form.notes.errors }}</td>
    </tr>
    <!--- Plan a next step -->
    <tr>
      <td colspan="3" class="small-form-header">3) Plan a next step <i>(optional)</i></td>
    </tr>
    <tr>
      <td>
        Date: {{ form.next_step_date.errors }}<br>
        {{ form.next_step_date }}
      </td>
      <td colspan="2" rowspan="5" style="vertical-align:bottom;">
        {% include 'fund/suggested_steps.html' %}
      </td>
    </tr>
    <tr>
      <td>
        Description: {{ form.next_step.errors }}<br>
        {{ form.next_step }}
      </td>
    </tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
    <tr><td></td></tr>
  </table>
</form>
<div align="center">
	<img id = "ajax_loading" src="/static/images/ajaxloader.gif" style="display:none;" alt="Loading..."><br>
	<button onclick="Submit('{{ action }}', '#{{ step_id }}_done_step', '{{ donor.pk }}-nextstep', 'date', '{{ donor.asked }}', '{{ donor.promised }}')">Save</button>
	<button onclick="location.href='/fund/'">Cancel</button>
</div>
