{% load url from future %}
Greetings {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

You are receiving this email because you requested that your password be reset for <a href="https://{{ domain }}/fund/">Project Central</a>.  If you do not wish to reset your password, you may ignore this message.

To reset your password, please click the following link, or copy and paste it into your web browser:
{{ protocol }}://{{ domain}}{% url 'fund-reset' uidb36=uid token=token %}

Best regards,
Project Central Management