<form id="addmult" method="post" action="/fund/addmult">
  <table class="form" id="add_form" style="text-align:center">
  <tr>
    <td>{{ formset.management_form }}</td>
  </tr>
  <tr>
    <td>First name</td>
    <td>Last name (optional)</td>
    <td>Amount to ask</td>
    <td>Likelihood</td>
  </tr>
  {%for form in formset%}
    <tr>
      <td>{{form.firstname.errors}}</td>
      <td>{{form.lastname.errors}}</td>
      <td>{{form.amount.errors}}</td>
      <td>{{form.likelihood.errors}}</td>
    </tr>
    <tr>
      <td>{{form.firstname}}</td>
      <td>{{form.lastname}}</td>
      <td>${{form.amount}}</td>
      <td>{{form.likelihood}}%</td>
    </tr>
  {% endfor %}
  </table>
	<span style="display:inline;margin-left:40%;">
		<input type="submit" value="Save">
	</span>
</form><button onclick="location.href='/fund/'" style="display:inline;">Cancel</button><span style="margin-left:100px;"><a onclick="cloneMore('#add_form tr:last', 'form')">Add more contacts</a></span>
