<form id="{{formid}}">
  <table class="form" style="width:80%;margin-left:10%;">
    <tr align="center">
      <td>{{form.description.errors}}</td>
      <td>{{form.date.errors}}</td>
    </tr>
    <tr align="center">
      <td>Date: {{form.date}}</td>
      <td>Description: {{form.description}}</td>
    </tr>
    <tr>
      <td colspan="2">
        {% include 'fund/suggested_steps.html'  with target="id_description" %}
      </td>
    </tr>
  </table>
</form>
<div align="center" style="margin-bottom:15px;">
  <button onclick="Submit('{{action}}', '#{{formid}}', '{{divid}}', 'date')">Save</button>
  <button onclick="location.href='/fund/'">Cancel</button>
</div>