<table class="form">
	<tr>
		<td colspan="3">{{form.pledged_amount.errors}}</td>
	</tr>
	<tr>
		<td>
			<form id = "done_step" method="post" action="{{action}}">
      Status:
		</td>
		<td colspan="2">
			<span style="margin-right:10px;">
				{% if donor.asked %}Asked.{% endif %}
				<span id = "{{step_id}}_asked">
					Asked: {{form.asked}}
				</span>
			</span>
			{% if donor.pledged == 0 %}
				Declined.
			{% elif donor.pledged %}
				Pledged ${{donor.pledged}}.
			{% endif %}
			<span id = "{{step_id}}_response">
				Response: {{form.response}}
			</span>
			<span id="{{step_id}}_pledge">
				Pledged: ${{form.pledged_amount}}
			</span>
		</td>
	</tr>
	<tr>
		<th>Notes:</th>
		<td>{{form.notes}}</td>
		<td>{{form.notes.errors}}</td>
	</tr>
	<tr>
    <td colspan="2">
			<br>Plan a next step (optional):
		</td>
		<td rowspan="6" style="vertical-align:bottom;">
			<div align="center" style="margin-bottom:15px;">
				{% include 'fund/suggested_steps.html' %}
			</div>
		</td>
	</tr>
	<tr>
		<th></th>
		<td>{{form.next_step_date.errors}}</td>
	</tr>
	<tr>
		<th>Date:</th>
		<td>{{form.next_step_date}}</td>
	</tr>
	<tr>
		<th></th>
		<td>{{form.next_step.errors}}</td>
	<tr>
		<th>Description:</th>
		<td>{{form.next_step}}</form></td>
	</tr>
	<tr>
		<td colspan="2" style="text-align:center">
			<button onclick="Submit('{{action}}', '#done_step', '{{donor.pk}}-nextstep', 'date', '{{donor.asked}}', '{{donor.pledged}}')">Save</button>
			<button onclick="location.href='/fund/'">Cancel</button>
		</td>
	</tr>
</table>