<div style="width:80%;margin-left:10%;">
{% include 'fund/suggested_steps.html' %}
</div>
<form id="{{formid}}">
  <table class="form" style="width:60%;margin-left:20%;text-align:center;">
    <tr>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>Description</td>
    </tr>
    <tr>
      <td>{{form.date.errors}}</td>
      <td>{{form.description.errors}}</td>
    </tr>
    <tr>
      <td>{{form.date}}</td>
      <td>{{form.description}}</td>
    </tr>
  </table>
</form>
<div align="center" style="margin-bottom:15px;">
	<button onclick="Submit('{{action}}', '#{{formid}}', '{{divid}}', 'date')">Save</button>
	<button onclick="location.href='/fund/'">Cancel</button>
</div>