{% extends 'fund/blocks.html' %}

{% block progress %}

<div id="progress_container">
<div id="progress_bar" style="width:{{project_progress.bar_width}}%">
</div></div>
<div id="progress_desc">The giving project has raised ${{project_progress.pledged}} so far</div>

{% endblock %}

{% block content %}

<b>PROJECT PROGRESS</b>
<div class="indent">
	Fundraising goal: ${{membership.giving_project.fund_goal}}<br><br>
	<table width="100%"><tr>
		<td style="width:50%;">
			{{project_progress.contacts}} contacts<br>
			{{project_progress.talked}} talked to<br>
			{{project_progress.asked}} asked<br>
		</td>
		<td>
			${{project_progress.estimated}} estimated fundraising<br>
			${{project_progress.pledged}} pledged<br>
			${{project_progress.gifted}} gifted<br>
		</td>
	</tr></table>
</div>

<b>NEWS</b>
<div class="indent">
{% for new in news %}
{{new.date|date:"n/d/y"}} - {{new.summary}}
<br><br>
{% endfor %}
</div>

<b>SCHEDULE</b>
<div class="indent">
{% if membership.giving_project.calendar %}
  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src={{membership.giving_project.calendar}}&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="550" height="400" frameborder="0" scrolling="no"></iframe>
{% else %}
  Your project schedule has not been posted yet.
{% endif %}
</div>
<!-- RESOURCES -->
{% endblock %}