{% extends 'fund/blocks.html' %}
{% block title %}My fundraising {{block.super}}{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  var text_progress = false;
  if (Modernizr.inlinesvg) { 
    
    var options = {chartArea: {left:0, top:8, width:'100%', height:'85%'},
										legend: {alignment:'center', textStyle: {fontSize:11}},
										tooltip: {showColorCode: false, textStyle: {fontSize:14}},
										slices: [{color: 'green'}, {color:'#D18316'}, {color: '#8B0E04'}],
										pieSliceText: 'none',
										pieSliceTextStyle: {fontSize:14},
										reverseCategories: true,
										sliceVisibilityThreshold:0,
                  }
                     
    function drawChart() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Status');
      data.addColumn('number', 'Contacts');
      data.addRows([
        ["Haven't contacted", {{progress.contactsremaining}}],
        ["Talked to", {{progress.talked}}],
        ['Asked', {{progress.asked}}],
      ]);

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      if ({{progress.estimated}} > 0) {
        drawChart2();
      }
    }
    
    function drawChart2() {

      // Create the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Status');
      data.addColumn('number', 'Amount');
      data.addRows([
        ['Remaining', {{progress.togo|default:'0'}}],
        ["Pledged", {{progress.pledged}}],
        ['Donated', {{progress.donated}}],
      ]);
      
      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
      chart.draw(data, options);           
    }
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    
  } else { //browser cannot support charts
    console.log('Browser does not support charts; text_progress = true');
    text_progress = true;
  }

  function textProgress() {
    console.log('textProgress');
    document.getElementById('chart_div').innerHTML = "<br><br>Haven't contacted: {{progress.contactsremaining}}<br>Talked to: {{progress.talked}}<br>Asked: {{progress.asked}}";
    if ({{progress.estimated}} > 0) {
      document.getElementById('chart_div2').innerHTML = "<br><br>Remaining: ${{progress.togo|default:'0'}}<br>Pledged: ${{progress.pledged}}<br>Donated: ${{progress.donated}}";
    }
  }
</script>
<script type="text/javascript">
  var status_texts = { //for ajax error messages
    400: '400 Bad request',
    401: '401 Unauthorized',
    403: '403 Forbidden',
    404: '404 Not found',
    408: '408 Request timeout',
    500: '500 Internal server error',
    503: '503 Service unavailable',
    504: '504 Gateway timeout',
  }

  var submitted_messages = { //maps sub_url to a success message to display after reload
    

  }

  var request_processing = false;

  function datepicker() { //date input fields
    $.datepicker.setDefaults({
      dateFormat: 'mm/dd/yy',
      minDate: 0,
      hideIfNoPrevNext: true,
      constrainInput: false,
    });
    $( ".datePicker" ).datepicker();
  }

  function loadView(get_url, div_id, dasked, dpledged) {
    if (request_processing) {
      return
    }
    startProcessing();
    $.ajax({
      url:get_url,
      type:"GET",
      timeout: 10000,
      success:function(data, textStatus, jqXHR){
        //console.log(get_url);
        document.getElementById(div_id).innerHTML=jqXHR.responseText;
        var pks = get_url.match(/\d+/g);
        if (pks && pks[1]) {
          var a=document.getElementById('donor-' + pks[0]);
          a.style.borderColor="#555";
          if (dasked) {
            completeLoaded(pks[1], dasked, dpledged);
          }
        } else if (div_id == 'adddonor') {
          document.getElementById(div_id).style.borderColor="#555";
        }
        datepicker();
        endProcessing();
        trackEvents(get_url, div_id, 'GET');
      },
      error:function(jqXHR, textStatus, errorThrown){
        endProcessing();
        var errortext = ''
        if (status_texts[jqXHR.status]) {
          errortext = status_texts[jqXHR.status]
        } else if (textStatus=='timeout') {
          errortext = 'Request timeout'
        } else {
          errortext = 'Unknown error'
        }
        document.getElementById(div_id).innerHTML='<p>An error occurred while handling your request.  We apologize for the inconvenience.</p><p>URL: ' + get_url + '<br>Error: ' + errortext + '</p><p><a href="/fund/support" target="_blank">Contact us</a> for assistance if necessary.  Please include the above error text.</p>';
      },
    });
  }

  function Submit(sub_url, form_id, div_id, date, dasked, dpledged){
    if (request_processing) {
      return
    }
    startProcessing();
    $.ajax({
      url:sub_url,
      type:"POST",
      data:$(form_id).serialize(),
      timeout: 10000,
      success:function(data, textStatus, jqXHR){
        trackEvents(sub_url, div_id, 'POST');
        if (jqXHR.responseText=="success") {
          setTimeout(function() {location.href='/fund/';}, 200);
        } else {
          document.getElementById(div_id).innerHTML=jqXHR.responseText;
          if (sub_url.match('done')) {
            var pks = sub_url.match(/\d+/g);
            if (pks && pks[1]) {
              completeLoaded(pks[1], dasked, dpledged, 'True');
            }
          }
        }
        if (date) { datepicker();}
        endProcessing();
      },
      error:function(jqXHR, textStatus, errorThrown){
        endProcessing();
        var errortext = ''
        if (status_texts[jqXHR.status]) {
          errortext = status_texts[jqXHR.status]
        } else if (textStatus=='timeout') {
          errortext = 'Request timeout'
        } else {
          errortext = 'Unknown error'
        }
        document.getElementById(div_id).innerHTML='<p>An error occurred while handling your request.  We apologize for the inconvenience.</p><p>URL: ' + sub_url + '<br>Error: ' + errortext + '</p><p><a href="/fund/support" target="_blank">Contact us</a> for assistance if necessary.  Please include the above error text.</p>'
        if (date) {
          datepicker();
        }
      },
    });
  }

  function trackEvents(url, div_id, request_type) { //analytics events
    console.log('trackEvents', url, div_id, request_type);
    var category;
    var action;
    if (div_id.search('adddonor') > -1) {
      //console.log('adddonor');
      if (request_type == 'POST') {
        action = 'Add multiple - submit';
      } else {
        action = 'Add multiple - load';
      }
      if (url.search('addmult') > -1) {
        category = 'Contacts';
      } else if (url.search('stepmult') > -1) {
        category = 'Steps';
      }
    } else if (div_id.search('nextstep') > -1) {
      //console.log('nextstep');
      category = 'Steps';
      if (url.search(/\d+$/) > -1 && request_type == 'POST') {
        action = 'Edit';
      } else if (url.search(/done$/) > -1) {
        if (request_type == 'POST') {
          action = 'Complete step - submit';
        } else {
          action = 'Complete step - load';
        }
      }  
    } else if (request_type == 'POST') {
      //console.log('POST');
      if (url.search(/step$/) > -1) {
        category = 'Steps';
        action = 'Add';
      } else if (url.search(/delete$/) > -1) {
          category = 'Contacts';
          action = 'Delete';
      } else if (url.search(/edit$/) > -1) {
        category = 'Contacts';
        action = 'Edit';
      }
    }
    console.log(category, action)
    if (category && action) {
      _gaq.push(['_trackEvent', category, action]);
    }
  }
   
  function toggle(a, b) { //donor info
    //toggles a, border on b if a is shown
    var e=document.getElementById(a);
    var f=document.getElementById(b);
    if(!e)return true;
    if(e.style.display=="none"){
      e.style.display="block"
      f.style.borderColor="#555"
    } else {
      e.style.display="none"
      f.style.borderColor="#FFF"
    }
    return true;
  }

  function startProcessing() {
    request_processing = true;
    var loader = document.getElementById('ajax_loading');
    if (loader) {
      loader.style.display = "";
    }
  }

  function endProcessing() {
    request_processing = false;
    var loader = document.getElementById('ajax_loading');
    if (loader) {
      loader.style.display = "none;";
    }
  }

  function SubmitMult() { //add contacts
    if (request_processing) {
      return
    }
    startProcessing();
    $.ajax({
      url:'/fund/addmult',
      type:"POST",
      data:$('#addmult').serialize(),
      timeout: 10000,
      success:function(data, textStatus, jqXHR){
        endProcessing();
        if (jqXHR.responseText=="success") {
          location.href= '/fund/?load=stepmult';
        } else {
          document.getElementById('adddonor').innerHTML=jqXHR.responseText;
        }
      },
      error:function(jqXHR, textStatus, errorThrown){
        endProcessing();
        var errortext = ''
        if (status_texts[jqXHR.status]) {
          errortext = status_texts[jqXHR.status]
        } else if (textStatus=='timeout') {
          errortext = 'Request timeout'
        } else {
          errortext = 'Unknown error'
        }
        document.getElementById('adddonor').innerHTML='<p>An error occurred while handling your request.  We apologize for the inconvenience.</p><p>URL: ' + get_url + '<br>Error: ' + errortext + '</p><p><a href="/fund/support" target="_blank">Contact us</a> for assistance if necessary.  Please include the above error text.</p>'
      },
    });
  }

  function cancelHide(div_id, replace) { //hide adddonor div
    replace = replace || '';
    var div = document.getElementById(div_id)
    div.innerHTML=replace;
    div.style.borderColor="#FFF";
  }

  function cloneMore(selector, type) { //add row to mult contacts form
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement); // only copies last row, not incl error row. but error row will load when form reloads
  }

  function suggestFill(source, target) { //fills input with selected step
    var text = source.innerHTML;
    if (target) {
      document.getElementById(target).value=text;
    } else {
      document.getElementById('id_description').value=text;
    }
  }

  var sug_div;
  function showSuggestions(inp) { //shows suggested steps
    if (sug_div) { sug_div.style.display="none"; } //hides prior set
    var patt = new RegExp('\\d+');
    var num = patt.exec(inp);
    sug_div = document.getElementById('suggest_'+num);
    sug_div.style.display="block";
  }

  function completeLoaded(pk, dasked, dpledged, submitted) {
    //hide fields based on what is already in the database for the contact
    //console.log('completeloaded called, submitted is ' +submitted);
    var asked_span = document.getElementById(pk+'_asked');
    var response_span = document.getElementById(pk+'_response');
    var pledged_span = document.getElementById(pk+'_pledge');
    if (dasked != 'False') {  //have asked
      asked_span.style.display = "none";
      if (dpledged != 'None') { // pledge complete, hide 2&3
        response_span.style.display = "none";
        pledged_span.style.display = "none";
        //console.log('in completeloaded pledge in db, hiding')
      } else { // check response
        var response = document.getElementById(pk+'_id_response');
        responseSelected(response);
      }
    } else { //haven't asked yet, hide 2&3
      response_span.style.display = "none";
      pledged_span.style.display = "none";
      if (submitted) {
        //console.log('in completeloaded pledge in db, calling askedtoggled')
        var asked = document.getElementById(pk+'_id_asked');
        askedToggled(asked);
      }
    }
    //follow up is hidden by defalt, don't need to hide it
  }

  function askedToggled(asked) { //step complete form - asked input changed
    //show or hide the response field
    var num = asked.id.match(/\d+/);
    var response_span = document.getElementById(num+'_response');
    if (asked.checked) {
      //console.log('askedtoggled checked');
      response_span.style.display="inline";
      var response = document.getElementById(num+'_id_response');
      responseSelected(response);
    } else { //hide all following
      //console.log('askedtoggled un checked');
      response_span.style.display="none";
      var hide_span = document.getElementById(num+'_pledge');
      hide_span.style.display="none";
      pledgeEntered(hide_span, true);
    }
  }

  function responseSelected(response) { //step complete form - response input changed
    //show or hide the pledged field
    var num = response.id.match(/\d+/);
    var pledged_span = document.getElementById(num+'_pledge');
    if (response.value == 1) { //1 = pledged, 2 = unsure, 3 = dec
      pledged_span.style.display="";
      var pledge = document.getElementById(num+'_id_pledged_amount');
      //console.log('in respselected, calling pledge entered')
      pledgeEntered(pledge);
    } else {
      pledged_span.style.display="none";
      //console.log('in respselected, calling pledge entered hide')
      pledgeEntered(pledged_span, true);
    }
  }

  function pledgeEntered(pledge, hide) { //step complete form - pledge input changed
    //show or hide the last name & contact info fields
    pledge_amt = parseFloat(pledge.value) || 0;
    var num = pledge.id.match(/\d+/);
    //console.log('in pledgeentered, amt = ' + pledge_amt +', num = ' +num)
    var follows = $('.' + num + '_pledge_follow').get();
    for (var i = 0; i < follows.length; i++) {
      if (pledge_amt > 0 && hide != true) {
        follows[i].style.display="table-row";
      } else {
        follows[i].style.display="none";
      }
    }
  }

  function formSaved(text) { //display message confirming form submission
    var div = document.getElementById('form_saved');
    div.innerHTML = text;
  }

  $(document).ready(function() {
    var load = '{{load}}';
    var loadto = '{{loadto}}';
    if (load) {
      loadView(load, loadto);
    }
    if (text_progress) {
      textProgress();
    }
  });
</script>
{% endblock %}
{% block content %}
<div id="form_saved"></div>

{% if notif %}
<div id="notifications">{{notif|safe}}</div>
{% endif %}

{% if donor_list.0 %}
<b>YOUR PROGRESS</b>
<table style="width:90%;margin-left:8%;margin-top:10px;margin-bottom:15px;text-align:center;">
<tr>
  <td><div align="center">{{progress.contacts}} contacts</div><div align="center" id ="chart_div" style="width:240px;height:110px;margin-left:auto;margin-right:auto;"></div></td>
  {% if progress.estimated > 0 %}
  <td><div align="center" title = "Personal fundraising goal of ${{progress.estimated}} calculated based on your ask amount and estimated likelihood for each contact">{{progress.header}}</div><div align="center" id ="chart_div2" style="width:260px;height:110px;margin-left:25px;"></div></td>
  {% endif %}
</tr>
</table>
{% endif %}

<b>YOUR CONTACTS & NEXT STEPS</b>
{% if donor_list.0 and load != 'stepmult' %} <!--only show if mass add won't be showing -->
  <div class="edit_done">[<a onclick="loadView('/fund/addmult', 'adddonor')">add contacts</a>]</div>
  <div class="donor indent" id="adddonor"></div><!--forms for adding contacts go here when requested-->
{% endif %}

{% for dict in donor_list %} <!-- per contact -->
  <div class="donor indent" id="donor-{{dict.donor.pk}}">
    <a class="{%if dict.donor.pledged != None%}pledged{%endif%}" onclick="toggle('details-{{dict.donor.pk}}', 'donor-{{dict.donor.pk}}')"><b>{{dict.donor.firstname}} {{dict.donor.lastname}}</b></a><br>
    {% if dict.next_step %}
      <div id="{{dict.donor.pk}}-nextstep">{%if dict.overdue%}<span title="This step's goal date has passed! Edit or complete it" style="display:inline;"><span class="overdue_step">! </span>{{dict.next_step}}</span>{% else %}{{dict.next_step}}{%endif%}
      <div class="edit_done"> [<a class="edit_done" onclick="loadView('/fund/{{dict.donor.pk}}/{{dict.next_step.pk}}', '{{dict.donor.pk}}-nextstep')">edit</a>|<a class="edit_done" onclick="loadView('/fund/{{dict.donor.pk}}/{{dict.next_step.pk}}/done', '{{dict.donor.pk}}-nextstep', '{{dict.donor.asked}}', '{{dict.donor.pledged}}');">complete</a>]</div>
      </div>
    {% else %}
      <div id="{{dict.donor.pk}}-addstep">
      {% if dict.donor.pledged == None and dict.donor.gifted == 0 %}
        No next step. <a onclick="loadView('/fund/{{dict.donor.pk}}/step', '{{dict.donor.pk}}-addstep')">Add one.</a>
      {% else %}
        <img src="/static/images/check.png" alt="complete checkmark">Asked. {% if dict.donor.gifted %}Donated ${{dict.donor.gifted}}.{% elif dict.donor.pledged != None %}{% if dict.donor.pledged > 0 %}Pledged ${{dict.donor.pledged}}.{% else %}Declined to donate.{%endif%}{% endif %}
      {% endif %}
      </div>
    {% endif %}

    <div class="donor_details indent" id="details-{{dict.donor.pk}}" style="display:none;">
  
    <table>
      {% if dict.donor.gifted %}
        <tr><td>Donated:</td><td>${{dict.donor.gifted}}</td></tr>
        <tr><td>Original estimation:</td><td>${{dict.donor.estimated}}</td></tr>
      {% elif dict.donor.pledged != None%}
        {% if dict.donor.pledged > 0 %}
          <tr><td>Pledged:</td><td>${{dict.donor.pledged}}</td></tr>
        {% else %}
          <tr><td colspan="2">Declined to donate.</td></tr>
        {% endif %}
        <tr><td>Original estimation:</td><td>${{dict.donor.estimated}}</td></tr>
      {% else %}
        {% if dict.donor.asked %}
          <tr><td colspan="2">Asked; awaiting response.</td></tr>
        {% endif %}
        {% if dict.donor.amount %}
          <tr><td>Amount to ask:</td><td>${{dict.donor.amount}}</td></tr>
          <tr><td>Likelihood:</td><td>{{dict.donor.likelihood}}%</td></tr>
        {% endif %}
      {% endif %}
      
      <tr>
        <td>{% if dict.donor.email or dict.donor.phone %}Contact info:</td>
        <td>{{dict.donor.email|default:""}} {{dict.donor.phone|default:""}}{%endif%}</td>
      </tr>
      <tr>
        <td>Notes:</td>
        <td>{{dict.donor.notes|default:"<i>None entered.</i>"}}<br><br></td>
      </tr>
      
      {% if dict.complete_steps %}
        <tr>
          <td>Completed steps:{% if dict.donor.pledged != None and not dict.next_step %}<br>[<a onclick="loadView('/fund/{{dict.donor.pk}}/step', '{{dict.donor.pk}}-addstep')">add step</a>]{% endif %}</td>
          <td>{% for step in dict.complete_steps %}{{step.date|date:"n/d/y"}}: {{step.description}}<br>{% endfor %}</td>
        </tr>
      {% endif %}
    </table>
    <br>
    
    <div class="donor_delete" id="delete-{{dict.donor.pk}}">
      [<a onclick="loadView('/fund/{{dict.donor.pk}}/edit', 'donor-{{dict.donor.pk}}')">edit contact</a>] [<a onclick="loadView('/fund/{{dict.donor.pk}}/delete', 'delete-{{dict.donor.pk}}')">remove contact</a>]
    </div>
    
  </div> <!-- ends donor_details -->
</div> <!-- ends donor -->

{% empty %} <!--no contacts yet -->
  {% if fd %} <!-- add estimates -->
    {% include 'fund/add_estimates.html' %}  
  {% else %} <!-- add contacts -->
    <div class="donors" id="adddonor">
      <p>You don't have any contacts yet!  Get started by adding some.  You'll be able to add, change or remove contacts at any time.</p>
      {% include mult_template %}
    </div>
  {% endif %}
{% endfor %} <!--ends contacts check-->

{% endblock %}