{% extends 'fund/blocks.html' %}

{% block script %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  var options = {chartArea: {left:0, top:8, width:'100%', height:'85%'},
                   legend: {alignment:'center', textStyle: {fontSize:11}},
                   tooltip: {showColorCode: false, textStyle: {fontSize:14}},
                   slices: [{color: 'green'}, {color:'#D18316'}, {color: '#8B0E04'}],
                   pieSliceText: 'none',
                   pieSliceTextStyle: {fontSize:14},
                   reverseCategories: true,
                   sliceVisibilityThreshold:0,
                   }
                   
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Status');
    data.addColumn('number', 'Contacts');
    data.addRows([
      ["Haven't contacted", {{progress.contactsremaining}}],
      ["Talked to", {{progress.talked}}],
      ['Asked', {{progress.asked}}],
    ]);

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
    drawChart2();             
  }
   function drawChart2() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Status');
    data.addColumn('number', 'Amount');
    data.addRows([
      ["Remaining", {{progress.togo|default:'0'}}],
      ["Pledged", {{progress.pledged}}],
      ['Donated', {{progress.donated}}],
    ]);
    
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
    chart.draw(data, options);           
  }
  
</script>
<script type="text/javascript">

function toggle(a, b) { //toggles a, border on b if a shown
  var e=document.getElementById(a);
  var f=document.getElementById(b);
  if(!e)return true;
  if(e.style.display=="none"){
    e.style.display="block"
    f.style.borderColor="#555"
  } else {
    e.style.display="none"
    f.style.borderColor="#FFF"
  }
  return true;
}

function datepicker() {
	$.datepicker.setDefaults({
		dateFormat: 'yy-mm-dd',
		minDate: 0,
		hideIfNoPrevNext: true,
	});
	$( ".datePicker" ).datepicker();
}

function loadView(get_url, div_id, dasked, dpledged) {
  $.ajax({
		url:get_url,
		type:"GET",
		success:function(data, textStatus, jqXHR){
			document.getElementById(div_id).innerHTML=jqXHR.responseText;
      var donor_id = get_url.match(/\d+/);
      if (donor_id) {
        var a=document.getElementById('donor-' + donor_id);
        a.style.borderColor="#555"
        if (dasked && dasked!='False') {
          completeLoaded(donor_id, dasked, dpledged);
        }
      }
			datepicker();
		},
		error:function(jqXHR, textStatus, errorThrown){
			document.getElementById(div_id).innerHTML="Error! "+textStatus+' '+errorThrown;
		},
	});
}

function cancelHide(div_id, replace) {
	replace = replace || '';
	document.getElementById(div_id).innerHTML=replace;
}

function Submit(sub_url, form_id, div_id, date, dasked, dpledged){
$.ajax({
	url:sub_url,
	type:"POST",
	data:$(form_id).serialize(),
	success:function(data, textStatus, jqXHR){
		if (jqXHR.responseText=="success") {
			location.reload();
		} else {
			document.getElementById(div_id).innerHTML=jqXHR.responseText;
      if (dasked && dasked!='False') {
        var donor_id = div_id.match(/\d+/);
        if (donor_id) {
          completeLoaded(donor_id, dasked, dpledged);
        }
      }
		}
		if (date) { datepicker(); }
	},
	error:function(jqXHR, textStatus, errorThrown){
		document.getElementById(div_id).innerHTML="Error! "+textStatus+' '+errorThrown;
		if (date) { datepicker(); }
	},
});
}

function SubmitMult() {
$.ajax({
	url:'/fund/addmult',
	type:"POST",
	data:$('#addmult').serialize(),
	success:function(data, textStatus, jqXHR){
		if (jqXHR.responseText=="success") {
			loadView('/fund/stepmult', 'adddonor');
		} else {
			document.getElementById('adddonor').innerHTML=jqXHR.responseText;
		}
	},
	error:function(jqXHR, textStatus, errorThrown){
		document.getElementById('adddonor').innerHTML="Error! "+textStatus+' '+errorThrown;
	},
});
}

function cloneMore(selector, type) { //adds a row to the multiple contacts form
	var newElement = $(selector).clone(true);
	var total = $('#id_' + type + '-TOTAL_FORMS').val();
	newElement.find(':input').each(function() {
			var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
			var id = 'id_' + name;
			$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
	});
	newElement.find('label').each(function() {
			var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
			$(this).attr('for', newFor);
	});
	total++;
	$('#id_' + type + '-TOTAL_FORMS').val(total);
	$(selector).after(newElement); // only copies last row, not incl error row. but error row will load when form reloads
}

function suggestFill(source, target) { //fills input with the selected step
	var text = source.innerHTML;
	if (target) {
		document.getElementById(target).value=text;
	} else {
		document.getElementById('id_description').value=text;
	}
}

var div;
function showSuggestions(inp) { //shows suggested steps
	if (div) { div.style.display="none"; } //hides prior set
	var patt = new RegExp('\\d');
	var num = patt.exec(inp);
	div = document.getElementById('suggest_'+num);
	div.style.display="block";
}

function completeLoaded(pk, dasked, dpledged) { //shows/hides fields on step complete
  var asked = document.getElementById(pk+'_asked');
  var reply = document.getElementById(pk+'_reply');
  var pledged = document.getElementById(pk+'_pledge');
  var summary = document.getElementById(pk+'_summary');
  if (dasked) {
    asked.style.display = "none";
    summary.style.display = "table-row";
  }
  if (dpledged != 'None') {
    reply.style.display = "none";
    pledged.style.display = "none";
  }
}

$(document).ready(function() {
  var load = '{{load}}';
  var loadto = '{{loadto}}';
  if (load) {
    loadView(load, loadto);
  }
});


</script>
{% endblock %}

{% block content %}
{% if notif %}
<div id="notifications">{{notif|safe}}</div>
{% endif %}

<b>YOUR PROGRESS</b>
<table style="width:100%;margin-top:10px;">
<tr>
	<td style="width:50%;">
    <div align="center">{{progress.contacts}} contacts</div>
    {% if progress.contacts > 0 %}<div align="center" id ="chart_div" style="width:260px;height:110px;margin-left:30px;margin-bottom:15px;"></div>{% endif %}
	<td>
    <div align="center">${{progress.estimated}} estimated fundraising</div>
     {% if progress.align > 0 %}<div align="center" id ="chart_div2" style="width:260px;height:110px;;margin-left:25px;margin-bottom:15px;"></div>{% endif %}
	</td>
</tr>
</table>

<b>YOUR CONTACTS</b>
{% if donor_list.0 %} <!--only show if mass add won't be showing -->
	<div class="edit_done">[<a onclick="loadView('/fund/add', 'adddonor')">add contact</a>]</div>
  <div class="donors" id="adddonor"></div><!--forms for adding contacts go here when requested-->
{% endif %}

{% for dict in donor_list %}
	<div class="donor indent" id="donor-{{dict.donor.pk}}">
		<a class="{%if dict.donor.pledged != None%}pledged{%endif%}" onclick="toggle('details-{{dict.donor.pk}}', 'donor-{{dict.donor.pk}}')"><b>{{dict.donor.firstname}} {{donor.lastname}}</b></a>
		<br>
		{% if dict.next_step %}
			<div id="{{dict.donor.pk}}-nextstep">{%if dict.overdue%}<div title="This step's goal date has passed! Edit or complete it" style="display:inline;"><div class="overdue_step">! </div>{{dict.next_step}}</div>{% else %}{{dict.next_step}}{%endif%}
			<div class="edit_done"> [<a class="edit_done" onclick="loadView('/fund/{{dict.donor.pk}}/{{dict.next_step.pk}}', '{{dict.donor.pk}}-nextstep')">edit</a>|<a class="edit_done" onclick="loadView('/fund/{{dict.donor.pk}}/{{dict.next_step.pk}}/done', '{{dict.donor.pk}}-nextstep', '{{dict.donor.asked}}', '{{dict.donor.pledged}}');">complete</a>]</div>
			</div>
		{% else %}
			<div id="{{dict.donor.pk}}-addstep">
			{% if dict.donor.pledged == None %}
				No next step. <a onclick="loadView('/fund/{{dict.donor.pk}}/step', '{{dict.donor.pk}}-addstep')">Add one.</a>
			{% else %}
				<img src="/static/images/check.png"/>Asked. {% if dict.donor.gifted %}Donated ${{dict.donor.gifted}}.{% elif dict.donor.pledged != None %}{% if dict.donor.pledged > 0 %}Pledged ${{dict.donor.pledged}}.{% else %}Declined to donate.{%endif%}{% endif %}
			{% endif %}
			</div>
		{% endif %}

		<div class="donor_details indent" id="details-{{dict.donor.pk}}" style="display:none;">
	
		<table>
			{% if dict.donor.gifted %}
				<tr><td>Donated:</td><td>${{dict.donor.gifted}}</td></tr>
        <tr><td>Original estimation:</td><td>${{dict.donor.estimated}}</td></tr>
			{% elif dict.donor.pledged != None%}
        {% if dict.donor.pledged > 0 %}
          <tr><td>Pledged:</td><td>${{dict.donor.pledged}}</td></tr>
        {% else %}
          <tr><td colspan="2">Declined to donate.</td></tr>
        {% endif %}
        <tr><td>Original estimation:</td><td>${{dict.donor.estimated}}</td></tr>
      {% else %}
        {% if dict.donor.asked %}
          <tr><td colspan="2">Asked; awaiting reply.</td></tr>
        {% endif %}
        <tr><td>Amount to ask:</td><td>${{dict.donor.amount}}</td></tr>
        <tr><td>Likelihood:</td><td>{{dict.donor.likelihood}}%</td></tr>
      {% endif %}
			
			<tr>
				<td>{% if dict.donor.email or dict.donor.phone %}Contact info:</td>
				<td>{{dict.donor.email|default:""}} {{dict.donor.phone|default:""}}{%endif%}</td>
			</tr>
			<tr>
        <td>Notes:</td>
        <td>{{dict.donor.notes|default:"<i>None entered.</i>"}}<br><br></td>
      </tr>
			
			{% if dict.complete_steps %}
				<tr>
					<td>Completed steps:{% if dict.donor.pledged != None and not dict.next_step %}<br>
					[<a onclick="loadView('/fund/{{dict.donor.pk}}/step', '{{dict.donor.pk}}-addstep')">add step</a>]{% endif %}
					</td>
					<td>
						{% for step in dict.complete_steps %}
							{{step.date|date:"n/d/y"}}: {{step.description}}<br>
						{% endfor %}
					</td>
				</tr>
			{% endif %}
		
		</table>
		<br>
		
		<div class="donor_delete" id="delete-{{dict.donor.pk}}">
			[<a onclick="loadView('/fund/{{dict.donor.pk}}/edit', 'donor-{{dict.donor.pk}}')">edit contact</a>] [<a onclick="loadView('/fund/{{dict.donor.pk}}/delete', 'delete-{{dict.donor.pk}}')">remove contact</a>]
		</div>
		
	</div> <!-- ends donor_details -->
	</div> <!-- ends donor -->

{% empty %} <!--no contacts yet -->
<div class="donors" id="adddonor">
  <p>You don't have any contacts yet!  Get started by adding some.  You'll be able to add, change or remove contacts at any time.</p>
	{% include 'fund/add_mult.html' %}
</div>

{% endfor %} <!--ends contacts check-->

{% endblock %}