<table style="vertical-align:middle;">
  <tr>
  <td>
    <div class="chartholder"> <!-- 1st chart - contacts, talked, asked -->
      <div class="pie_holder">
        <div id="slice_new" class="central_hold" style="">
            <div class="pie1" title="X"></div>
        </div>
        <div id="slice_talked" class="central_hold">
            <div class="pie1" title="Y"></div>
        </div>
        <div id="slice_asked" class="central_hold">
            <div class="pie1" title="Z" ></div>
        </div>
      </div>
    </div>
  </td>
  <td>{{progress.contacts}} contacts
    <div class="pie_key">
      <div id ="slice1_key"></div> asked {{progress.asked}}<br>
      <div id ="slice2_key"></div> talked to {{progress.talked}}<br>
      <div id ="slice3_key"></div> {{progress.contactsremaining}} remaining
    </div>
  </td>
  <td>
    <div class="chartholder"> <!-- 12nd chart - estimated, pledged, donated -->
      <div class="pie_holder">
        <div id="slice_togo" class="central_hold">
            <div class="pie2" title="X"></div>
        </div>
        <div id="slice_pledged" class="central_hold">
            <div class="pie2" title="Y"></div>
        </div>
        <div id="slice_donated" class="central_hold">
            <div class="pie2" title="Z" ></div>
        </div>
      </div>
    </div>
  </td>
  <td>${{progress.estimated}} estimated fundraising
    <div class="pie_key">
      <div id ="slice1_key"></div> ${{progress.donated}} donated<br>
      <div id ="slice2_key"></div> ${{progress.pledged}} pledged<br>
      <div id ="slice3_key"></div> ${{progress.contactsremaining}} to go
    </div>
  </td>
  
  
  
</tr>
</table>