{% extends 'fund/blocks.html' %}
<head>
	<link href="index.css" type="text/css" rel="stylesheet" />
</head>

{% block progress %}
<div id="progress_container">
  <div id="progress_bar" style="width:{{membership.giving_project.bar_width}}%"></div>
</div>
<div id="progress_desc">The giving project has raised ${{membership.giving_project.pledged}} so far</div>
{% endblock %}

{% block content %}

<div>
	Pending
	<ul>
	{% for grant in unreviewed_grants %}
		<li><a href="/scoring/reading/{{grant.pk}}/">{{grant.organization}}</a></li>
	{% endfor %}
	 </ul>
</div>

<div>
	In Process
	<ul>
	{% for grant in review_in_progress_grants %}
		<li><a href="/scoring/reading/{{grant.pk}}/">{{grant.organization}}</a></li>
	{% endfor %}
	 </ul>
</div>

<div>
	Submitted
	<ul>
	{% for grant in reviewed_grants %}
		<li><a href="/scoring/reading/{{grant.pk}}/">{{grant.organization}}</a></li>
	{% endfor %}
	 </ul>
</div>

{% endblock %}
