{% extends 'fund/base.html' %}
{% block script %}
<script type="text/javascript">
function toggle(a) {
  var e=document.getElementById(a);
  if(!e)return true;
  if(e.style.display=="block"){
    e.style.display="none"
  } else {
    e.style.display="block"
  }
  return true;
}
</script>
{% endblock %}

{% block title %}Support{{block.super}}{% endblock %}

{% block header %}
<div align="center" style="padding-bottom:5px;"><a href="/fund"><img src="/static/images/logo3.png" alt="Project Central logo" height=80 width=160></a></div>
{% endblock header %}
		
{% block content %}

<a href="/fund">« back to home</a>
<img class = "odo_float_right" src="/static/images/odo1.png">
<h2>Frequently Asked Questions</h2>
<div id="FAQ">
	<a class="FAQ" onclick="toggle('faq-2')">How do I sign up?</a>
	<div class="indent hidden" id="faq-2">
		Register <a href="/fund/register">here</a>.  Your project facilitators may have added your email address already; if so, you'll be able to use Project Central right away.  Otherwise, you'll get an email once your membership is approved and you can log in.
	</div>

	<a class="FAQ" onclick="toggle('faq-4')">I forgot my login/password, what should I do?</a>
	<div class="indent hidden" id="faq-4">
		If you know your login (the email you used to sign up), you can reset your password <a href="/fund/reset">here</a>.
    <br><br>
		If you don't remember the email you used, or no longer have access to it, you'll need to <a href="#contact">contact an admin</a>.
	</div>

	<a class="FAQ" onclick="toggle('faq-5')">How does the giving project news work?</a>
	<div class="indent hidden" id="faq-5">
		The news section shares successes of giving project members.  Whenever you complete a step, it is shared with other people in your project via the news feed.
		<br><br>
		What is shared: the date, your first name, a general description of what happened ("talked to", "asked" or "got a pledge") and the amount pledged if applicable.
		<br><br>
		Not shared: the contact's name or anything about them, your step description.
		<br><br>
		If you have any questions or concerns about this information being shared, please contact us!  You can do so anonymously if you'd like - see below.
	</div>

	<a class="FAQ" onclick="toggle('faq-6')">Can I access Project Central on my mobile phone?</a>
	<div class="indent hidden" id="faq-6">
		Yes, Project Central can be accessed on mobile devices through a web browser.  We've attempted to keep the design and layout relatively small-screen-friendly.  We welcome any feedback on mobile usability.
	</div>

	<a class="FAQ" onclick="toggle('faq-7')">Does Project Central work for people in more than one giving project?</a>
	<div class="indent hidden" id="faq-7">
		Yes, it supports members being in multiple GPs.<br><br>

		When you register, pick one of the giving projects you're currently in - it doesn't matter which.  Once you're signed up, there will be a "your projects" link at the bottom of the page.  Go there to register for another GP.  Each membership requires an approval from one of the project leaders.
		<br><br>
		Project Central will only show you one GP at a time and your contacts are unique to each project.  To change which GP you're currently working in, use the same projects link at the bottom of the page.  Clicking any link in your list of projects will set that as your "current" GP.
	</div>
  <!-- next year 
	<a class="FAQ" onclick="toggle('faq-8')">I used Project Central last year - do I need to sign up again this year?</a>
	<div class="indent hidden" id="faq-8">
		Nope!  Just login and follow the "your projects" link at the bottom of the page.  Pick out your current project from the dropdown and hit register.  Once a leader has approved your membership, you'll get an email and you're good to go.
	</div> -->
</div>
	<h2 id="contact">Contact Us</h2>

	If you have a question that is not answered above, feel free to contact us.<br><br>

	Any feedback, suggestions, comments, etc. are also welcome.
	<br><br>
	Use our <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZ2cllsc044U2dDQkx1b2s4TExzWUE6MQ">online form</a> or send us an email at <a href="mailto:webmaster@socialjusticefund.org">webmaster@socialjusticefund.org</a>.
	<br><br>
{% endblock %}