.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 200px !important;
    width: auto !important;
}

div#changelist-filter { /*redundantly specific to override admin rule */
  width: 200px;
  height: 100%;
}

div#top_help_text {
  /* used at top of some model pages (e.g. Org) */
  margin-top:10px;
  margin-bottom:10px;
  color:#333;
  width:90%;
  line-height:1.2em;
}

p.help {
  /* make help text readable */
  font-size:12px !important;
  font-weight:normal;
}

form .aligned p.help {
  /* align help text better */
  padding-left:0px !important;
  margin-left:0px !important;
}

.has_original td {
  /* reduce extra padding before first row in inline */
  padding-top: .5em !important;
}

.module h2, .module caption, .inline-group h2 {
  /* home page sidebar */
  font-size:12px;
}

select#id_permissions {
  /* user permissions box */
    height: 400px;
}

.grants-grantapplication .add-another, .grants-organization .add-another {
  /* block the + button next to a dropdown in an inline */
  display:none;
}

.survey-choice {
  display: block;
}

