/** CUSTOM ADMIN STYLE OVERRIDES **/

/* Adjust the top display to fit in extra action (top right) and extra
 * help text (below title). Move "Add ___" button to make room. */
h1 {
  display: inline-block;
}

.extra-action {
  display: inline-block;
  float: right;
  z-index: 1;
}

/* Toggle-able filter sidebar -- don't shrink results around it */
.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
    margin-right: 0 !important;
}

#changelist {
  background: none !important;
}

#changelist-wrapper {
  width: 200px;
  float: right;
  position: absolute;
  right: 0;
  background-color: #eeeeee;
  border: 1px solid #aaaaaa;
}

#changelist-filter {
  height: 100%;
  position: relative;
  width: 100%;
  display: none;
}

#filter-header {
  padding: 7px 2px;
  font-size: 12px;
}

#filter-toggle {
  color: #fff;
  float: right;
}

div#top_help_text {
  /* used at top of some model pages (e.g. Org) */
  margin-top:10px;
  margin-bottom:10px;
  color:#333;
  width:90%;
  line-height:1.2em;
}

p.help {
  /* make help text readable */
  font-size:12px !important;
  font-weight:normal;
}

form .aligned p.help {
  /* align help text better */
  padding-left:0px !important;
  margin-left:0px !important;
}

.has_original td {
  /* reduce extra padding before first row in inline */
  padding-top: .5em !important;
}

.module h2, .module caption, .inline-group h2 {
  /* home page sidebar */
  font-size:12px;
}

select#id_permissions {
  /* user permissions box */
    height: 400px;
}

.grants-grantapplication .add-another, .grants-organization .add-another {
  /* block the + button next to a dropdown in an inline */
  display:none;
}

.survey-choice {
  display: block;
}

