div#top_help_text {
  margin-top:10px;
  margin-bottom:10px;
  color:#333;
  width:90%;
  line-height:1.2em;
}

p.help {
  font-size:12px !important;
  font-weight:normal;
}

form .aligned p.help {
  padding-left:0px !important;
  margin-left:0px !important;
}

.inline-group .tabular tr.has_original td {
  padding-top: .5em !important;
}

.module h2, .module caption, .inline-group h2 {
  font-size:12px;
}

select#id_permissions {
    height: 400px;
}