/* --- GENERAL --- */
html, body {
  height:100%
}

body {
  font-family: Verdana, sans-serif;
  font-size:.75em;
}

img {
  border:none;
}

table {
  font-size: inherit;
}

button, input[type="submit"] {
	font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin: .75em 0;
	color:#555;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0 1em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
}

h3 {
  font-size: 1.3em;
  margin: 1.154em 0; /* Equivalent to 1.5em in the page's base font: 1.5 / 1.3 = 1.154 */
	color:#555;
}

h4 {
	margin: 1em 0;
	font-size:1.2em;
}

a {
	color: #8B0E04;
	text-decoration: none;
	cursor:pointer;
}

.center {
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

a:visited {
	color: #8B0E04;
	text-decoration: none;
}

a:hover, a:focus {
text-decoration: underline;
}

div.indent {
	margin:8px 8px 8px 8px;
	padding:7px;
}

p.indent {
  margin-left:1em;
}

.hidden {
	display:none;
}

.multiple-choice ul {
  list-style-type: none;
  padding-left: 0;
}

/** messages **/

ul.messages {
  margin-bottom: 20px;
  list-style-type: none;
}

.messages li{
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

li.success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

li.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

li.warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

li.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}


/* ---SHARED --- */

div#login_wrapper{
	display:table;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}

#login_wrapper table{
	margin-left:auto;
	margin-right:auto;
	vertical-align:top;
}

/** add sep for grants w/margin-top:10px; */
ul.errorlist, ul.errorlist li {
	list-style-type: none;
	font-style:italic;
	color:red;
	margin:0 0 0 0;
	padding:0;
  display:inline;
}

/* support */
a.FAQ{
	display:block;
	margin-bottom:10px;
  font-weight:bold;
}

div#FAQ div {
  line-height:1.5em;
}

img.info {
  cursor:help;
  width:11px;
  height:11px;
  vertical-align:text-bottom;
  margin-bottom:1px;
}
