/* --- FUND --- */

/* general */

html, body {
}

div#page_wrapper {
  width:640px;
}

div#content_area {
	border-style:solid;
	border-width:2px;
	border-radius:8px;
	border-color:#C07205;
	padding:15px;
}

div#content_area span.header{
	text-transform:uppercase;
  font-weight:bold;
  font-size:inherit;
}

/* header & bar */

table#header {
  margin-bottom:10px;
  width:100%;
}

div#header {
  margin-bottom:20px;
  width:100%;
  text-align:center;
  font-size:1.7em;
}

div#header_text {
  /* display:inline-block; */
	font-size:2em;
  text-align:center;
	/* margin-bottom:.25em; */
	font-weight:bold;
  vertical-align:middle;
}

div#progress_container {
	width:636px;
	height:12px;
	border-style:solid;
	border-width:2px;
}

div#progress_bar {
	width:450px;
	height:12px;
	background:solid;
	background-color: #8B0E04;
}

div#progress_desc {
	text-align:center;
	margin-top:.5em;
	margin-bottom:1em;
}

/* blocks */
div#block_container {
	width:640px;
	height:184px;
	color:white;
}

div.top_block {
	width:200px;
	height:180px;
	background-color:#444;
	border-radius:8px;
	border-style:solid;
	border-width:2px;
	border-color:#333;
	float:left;
	padding:0px;
	cursor:pointer;
  position:relative;
}

div.top_block:hover {
	opacity:0.9;
  position:relative;
}

div.active_block {
	background-color:#D18316;
	border-color:#C07205;
}

div.block_header {
	font-weight:bold;
	text-align:center;
}

div.block-step {
	margin:10px;
  height:30px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

div.block-item {
	margin:10px;
  max-height:45px;
  overflow:hidden;
  text-overflow:ellipsis;
}

div.block-bottom {
  position:absolute;
  bottom: 3px;
  margin:10px;
}

div#blockline_container {
	width:640px;
	height:15px;
	color:white;
}

div.active_line {
  border-right: solid 2px #C07205;
}

/* personal */
form{
	display:inline;
}

table.form {
	margin-top:10px;
	margin-bottom:10px;
}

table.form th {
	font-weight:normal;
	text-align:right;
	padding-right:5px;
  padding-bottom:5px;
	vertical-align:bottom;
}

table.form button {
	align:center;
}

div#notifications {
  width:80%;
  margin-left:auto;
  margin-right:auto;
	margin-bottom:25px;
  margin-top:10px;
}

div#notifications table {
  width:98%;
  text-align:center;
  vertical-align:middle;
  line-height:1.5em;
}

div.donor {
  border: 1px solid;
  border-color:#FFF;
	border-radius:8px;
}

div.donor_delete {
	text-align:center;
}

div.edit_done {
	float:right;
}

a.edit_done {
	margin-left:2px;
	margin-right:2px;
}

img.donor_tag {
	float:right;
	vertical-align:middle;
}

span.overdue_step {
	color:red;
	font-weight:bold;
}

table.asked {
	width:290px;
}

div.donor_details table, div.donor_details tbody {
	width:100%;
	vertical-align:top;
}

div.donor_details td {
	width:45%;
}

div.ui-datepicker {
	background-color:#FFF;
	border:1px solid;
	border-color:#aaa;
	display:none;
}

div.ui-datepicker-title {
	text-align:center;
}

a.ui-datepicker-next {
	float:right;
}

input.half {
	width:50%;
}

input.tq {
	width:75%;
}

div.sugg_step {
	padding:4px;
	margin:4px;
	background-color:#EEE;
	border:1px solid;
	border-color:#333;
	cursor:pointer;
	display:inline-block;
}

div.sugg_step:hover {
	border-color:black;
}

#add_form {
  margin-left:auto;
  margin-right:auto;
}

div#stepmult {
	margin-top:15px;
}

div#stepmult input {
	margin-left:auto;
	margin-right:auto;
}

/* gp */
table.padded td{
	padding:5px;
}

.calendar-container {
  font-family:Verdana;
}

/* error pages */
div.error_message {
	font-weight:bold;
}

/* odo */
.odo_float_right {
  float:right;
  margin-top:8px;
  margin-right:15px;
  margin-left:8px;
}

/* footer  */
table#footer {
	width:640px;
	font-size:0.75em;
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
}

div#admin-link {
	text-align:center;
}

div#login {
	text-align:right;
}