/* base */

div#nav_menu  {
	text-align:center;
	margin-bottom:20px;
}

img#logo {
	display:inline;
	margin-left:20px;
	margin-right:20px;
}

div#org_wrapper {
	width:725px;
	margin-left:auto;
	margin-right:auto;
}

table#org_footer {
	width:100%;
	font-size:1em;
}

/* home page */

div#org_wrapper li {
  margin-top:5px;
  margin-bottom:5px;
}

/* application form */
div.formwrapper {
	width:725px;
	/*border:1px solid;*/
	border-color:#CCC;
  word-wrap: break-word;
  line-spacing:120%;
}

textarea {
  font-family:Arial;
  width:98%;
}

span#last_saved {
	font-style:italic;
}

div.label {
	display:inline;
	font-weight:bold;
}

div.form_error {
  font-style:italic;
	color:red;
}

table#application_form {
	width:100%;
}

table#application_form td{
	border:1px;
	border-color:black;
	width:360px;
}

div.formwrapper input[type="text"] {
  width:140px;
}

input#id_contact_person, input#id_previous_grants, input#id_fiscal_address {
	width:300px;
}

input#id_ein {
	width:100px;
}

table span.label {
	margin-right:8px;
}

div.vertical_cushion {
  margin-top:5px;
  margin-bottom:5px;
}

div.info_box {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}

div.narrative_q {
  padding-top:2em;
  padding-bottom:2em;
}

table.narrative_references {
  padding-top:15px;
}

table.narrative_references .main_row {
  height:27px;
  vertical-align:bottom;
}

table.narrative_references .label {
  padding-left:2px;
}

span.char_counter_ok, span.char_counter_over {
  float:right;
  padding-right:2%; /* to match text boxes */
}

span.char_counter_over {
	color:red;
}

input#grant_submit, button#apply-now {
  margin-top:40px;
  font-size:135%;
  font-weight:bold;
}

button#apply-now {
  margin-bottom:20px;
  font-size:135%;
  font-weight:bold;
}

iframe { /* cycle info pages */
  width:100%;
  height:700px;
  border:0px;
}