/* base */

div#nav_menu  {
	text-align:center;
	margin-bottom:20px;
}

img#logo {
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
}

div#org_wrapper {
	width:725px;
	margin-left:auto;
	margin-right:auto;
}

div#org_wrapper ul{
	padding-left:30px;
}

table#org_footer {
	width:100%;
	font-size:1em;
}

/* home page */

div#org_wrapper li {
  margin-top:5px;
  margin-bottom:5px;
}

table.list td{
  padding-right:20px;
}

div.section {
  border:1px solid black;
  padding: 0 10px 10px 10px;
  margin-bottom:20px;
}

div.section h3 {
  display:inline-block;
  margin: -.5em 0 .5em 0;
  padding:0 10px 0 10px;
  background:white;
}

/* rollover page */

div#rollover_form {
  width:100%;
}

div#rollover_form select {
  margin-top:10px;
  margin-left:16px;
}

div#rollover_form input[type="submit"] {
  font-size:1.2em;
  width:75px;
  margin: 15px auto;
  display:block;
}

/* application form */

/* -- general */

div.formwrapper {
	width:725px;
	/*border:1px solid;*/
	border-color:#CCC;
  word-wrap: break-word;
  line-height:120%;
}

div.formwrapper h1 {
  margin-bottom:.25em;
}

table#application_form {
	margin-top:5px;
  width:100%;
  border:1px solid black;
  padding-left:4px;
}

table#application_form td{
	width:360px;
}

table#application_form h4{
	margin-top:.5em;
}

label {
	margin-right:8px;
}

/* -- info/errors */

div#org_wrapper ul.errorlist, ul.errorlist li {
	list-style-type: none;
	font-style:italic;
	color:red;
	margin:0 0 0 0;
	/* vertical-align:bottom; */
	padding:0px;
  display:inline;
}

div.form_error {
  font-style:italic;
	color:red;
}

span#last_saved {
	font-style:italic;
}

div#autofilled {
  cursor:help;
  float:right;
  margin-right:15px;
}

/* -- specific field/input types */

textarea {
  font-family:Arial;
  width:99%;
  resize:vertical;
  font-size:inherit;
  overflow:hidden;
}

div.formwrapper input[type="text"] {
  width:140px;
}

/* -- narratives */

div.narrative_q {
  padding-top:2em;
  padding-bottom:2em;
}

table.narrative_references {
  padding-top:15px;
}

table.narrative_references .main_row {
  height:27px;
  vertical-align:bottom;
}

table.narrative_references .label {
  padding-left:2px;
}

span.char_counter_ok, span.char_counter_over {
  float:right;
  padding-right:2%; /* to match text boxes */
}

span.char_counter_over {
	color:red;
}

/* timeline */

table#timeline_form {
  margin-top:10px;
  border-spacing:0;
  width:100%;
}

table#timeline_form th {
  font-weight:normal
}

table#timeline_form tr.heading th{
  padding-bottom:2px;
}

/* -- file uploads */

div.formwrapper input[type="file"] { 
  color: transparent;
  width: 95px;
}

.files_form label { /* make it look like a button */
  padding: 1px 8px;
  appearance:button;
  -moz-appearance:button; /* Firefox */
  -webkit-appearance:button; /* Safari and Chrome */
}

form.files_form {
  margin:0;
}

iframe.upload {
  height:0;
  width:0;
  border:none;
}

table#file_upload_table td{
  line-height:2em;
  white-space:nowrap;
  overflow:ellipsis;
  vertical-align:middle;
}

/* -- other specific fields */

input#id_contact_person, input#id_previous_grants, input#id_fiscal_address {
	width:300px;
}

input#id_ein {
	width:100px;
}

div.vertical_cushion { /* mission & grant req labels */
  margin-top:5px;
  margin-bottom:5px;
}

/* -- submit button */

input#grant_submit {
  margin-top:40px;
  font-size:135%;
  font-weight:bold;
}


/* cycle info pages */

iframe.info_frame { 
  width:100%;
  height:500px;
  border:0px;
}

button#apply-now {
  margin-top:20px;
  font-size:135%;
  font-weight:bold;
}

/* grant reading */

div.reading_sidebar{
  width:200px;
  border-right:1px solid black;
  position:fixed;
  height:100%;
  margin-right:10px;
}

div.reading_pane{
  margin-left:200px;
  position:relative;
  z-index:-1;
}

iframe#reading_frame{
  border:none;
  width:100%;
  height:100%;
}

div.title{
  text-align:center;
}

div#formreader label{
  text-decoration:underline;  
}

div#formreader table tr td{
  padding-top:5px;
  padding-bottom:5px;
}

table#timeline_display {
  margin:auto;
  padding:0 5px;
  border:1px solid black;
  text-align:center;
  border-collapse:collapse;
}

#timeline_display th, #timeline_display td {
  font-weight:normal;
  border:1px solid black;
  padding:5px 10px;
}