
/** GENERAL **/

body {
  font-family:Verdana, "DejaVu Sans", Arial;
  font-size:80%;
}

h1 {
  margin: 0;
  padding:0 0 .5em 35%;
  vertical-align:top;
}

h4 { /** section labels **/
  font-size:1em;
  margin-bottom:.5em;
}

/* checkboxes */
ul{
  padding-left:0;
}

li {
  list-style-type:none;
  margin:0;
}

.non-field-errors {
  margin: 1em 0;
}

ul.show {
  padding-left: 40px;
}

.show li{
  margin-left:20px;
  list-style-type: disc;
}

#back-link {
  float:left;
}

div.reporting-wrapper{
  width: 920px;
  padding-bottom:2em;
  display:inline-block;
}

.reporting-wrapper p {
  margin: 0 0 1em 1.3em;
  font-size: 1em;
}

div.report-type {
  text-align:center; 
  padding:1em;
  font-size: 1.25em;
}

#report-type-selector {
  border: 2px solid #8b0e04;
  font-size: 1.15em;
  background: #fff;
  font-weight: bold;
}

.reporting-wrapper tr {
  vertical-align:top;
}

.reporting-wrapper td {
  padding:0 1.25em .5em 0;
}

.reporting-section {
  width: 100%;
}

.reporting-field {
  padding: 0 0 1em 1.3em;
  display: inline-block;
  vertical-align: top;
}

.small {
  float:left;
}

.report-heading {
  font-size:1.3em;
  font-weight:bold;
  border-top:1px dashed black;
  padding-top:5px;
  margin-bottom:.5em;
}

input#run { /** run the report button **/
  display:block;
  margin:2em auto;
  font-size:1.5em;
  padding:.25em .5em;
}

.mult_select{ /** toggle all checkboxes in a section **/
  margin:0 0 .5em .5em;
}

/** HELP **/

.help_toggle{
  float:right;
  position:relative;
  margin: -3em 2em 0 0;
  cursor:pointer;
}

#help{
  padding:5px;
  width: 500px;
  border: 1px solid #555;
  display:none;
  vertical-align:top;
  margin: 1em 0 0 1em;
}

#help h2 {
  margin-top:0;
}

#help td {
  vertical-align: top;
  padding: 0 1em;
}

#help ul {
  padding-left:15px;
}

/** RESULTS **/

.report_results{
  border-collapse:collapse;
}

.report_results,
.report_results th{
  border:1px solid #222;
  padding:5px;
}

.report_results td{
  border:1px dotted #555;
  padding:5px;
}
