{% extends 'grants/base.html' %}
{% block content %}
<a href="/apply">« return to home page</a>
<p>{{organization}} has already submitted an application to {{cycle.title}}.</p>
<p>If you wish to view a selected application, select it from the "submitted applications" list on your home page.</p>
<p>Applications can not be modified once they are submitted.  If there was an error in your application, please contact the staff person in charge of that grant cycle.   From the list of grant cycles on your home page, follow the link to the cycle information page which contains contact info.</p>
<p>If you believe you have reached this page in error, please <a href="/apply/support#contact">contact us</a>.</p>

{% endblock %}