{% extends 'grants/base.html' %}
{% block title %}Application form | {{block.super}}{% endblock %}
{% block script %}
<script type="text/javascript">
// autosaving
var autosave_timer;
var status_texts = { //for ajax error messages
  400: '400 Bad request',
  401: '401 Unauthorized',
  403: '403 Forbidden',
  404: '404 Not found',
  408: '408 Request timeout',
  500: '500 Internal server error',
  503: '503 Service unavailable',
  504: '504 Gateway timeout',
}

function autoSave(submit){
	$.ajax({
		url:"/apply/"+{{cycle.pk}}+"/autosave/",
		type:"POST",
		data:$('form').serialize(),
		success:function(data, textStatus, jqXHR){
			if (jqXHR.status==200) {
				if (submit) {
					var submit_all = document.getElementById('hidden_submit_app');
					submit_all.click();
				}
				var monthNames = [ "January", "February", "March", "April", "May", "June",
				"July", "August", "September", "October", "November", "December" ];
				var d = new Date();
				var h = d.getHours();
				var m = d.getMinutes();
				/*var s = d.getSeconds();*/
				var dd = "a.m.";
				if (h >= 12) {
					h = h-12;
					dd = "p.m.";
				}
				if (h == 0) {
					h = 12;
				}
				m = m<10?"0"+m:m;
				/* s = s<10?"0"+s:s; */
				var da = monthNames[d.getMonth()]+' '+d.getDate()+', '+h+':'+m+dd;
				document.getElementById('autosaved').innerHTML=da;
			}else{
				document.getElementById('autosaved').innerHTML='Unknown error<br>If you are seeing errors repeatedly please <a href="/apply/support#contact">contact us</a>';
			}
		},
		error:function(jqXHR, textStatus, errorThrown){
			var errortext = ''
      if(jqXHR.status==401){
				location.href = jqXHR.responseText + '?next=' + location.href;
			} else if (status_texts[jqXHR.status]) {
        errortext = status_texts[jqXHR.status]
      } else if (textStatus=='timeout') {
        errortext = 'Request timeout'
      } else {
        errortext = 'Unknown error'
      }
      document.getElementById('autosaved').innerHTML='Error: ' + errortext + '<br>If you are seeing errors repeatedly please <a href="/apply/support#contact">contact us</a>';
		},
	});
}

// character limits
function charLimitDisplay(area, limit){
	var counter = document.getElementById(area.name + '_counter');
	var words = area.value.match(/[^ \r\n]+/g) || [];
	//console.log(words);
	var diff = limit - words.length;
  if (diff >= 0) {
    counter.innerHTML = diff + ' words remaining';
    counter.className = 'char_counter_ok';
  } else {
    counter.innerHTML = -diff + ' words over the limit';
    counter.className = 'char_counter_over';
  } 
}

// file uploads
var uploading = false;
var uploading_span;
var current_field;

/* each file field has its own form
html element ids use this pattern:
input field: 							'id_' + fieldname
form: 										fieldname + '_form'
span for upload status: 	fieldname + '_uploaded'
submit button: 						fieldname + '_submit'
*/

function clickFileInput(event, input_id) {
	console.log(event);
	console.log('clickFileInput' + input_id);
	var input = document.getElementById(input_id);
	if (input) {
		input.control.click();
		console.log('Clicked it');
	} else {
		console.log('Error - no input found');
	}
}

function fileChanged(field_id) { //file selected - show loader, call getuploadurl
	console.log('fileChanged');
	if (uploading) {
		console.log('Upload in progress; returning');
		return false;
	}
	console.log(field_id + " onchange");
	var file = document.getElementById(field_id).value;
	console.log("Value: " + file);
	if (file) {
		uploading = true;
		current_field = field_id.replace('id_', '')
		uploading_span = document.getElementById(field_id.replace('id_', '') + '_uploaded');
		uploading_span.innerHTML = '<img src="/static/images/ajaxloader2.gif" height="16" width="16" alt="Loading...">';
		getUploadURL();
	}
}

function getUploadURL() { //get a url for it
	console.log('getUploadURL');
	$.ajax({
		url: '/get-upload-url/{{draft.pk}}',
		success: function(data) {
			var cform = document.getElementById(current_field + '_form');
			cform.action = data;
			var cbutton = document.getElementById(current_field + '_submit');
			cbutton.click();
		},
	});
}

function iframeUpdated(iframe) { //process response
	console.log('iframeUpdated');
	var results = iframe.contentDocument.body.innerHTML;
	console.log("The iframe changed! New contents: " + results);
	if (results) {
		var field_name = results.split("~~")[0];
		var linky = results.split("~~")[1];
		var file_input = document.getElementById('id_' + field_name);
		if (file_input && linky) {
			uploading_span.innerHTML = linky;
		} else {
			uploading_span.innerHTML = 'There was an error uploading your file. Try again or <a href="/apply/support">contact us</a>.';
		}
		uploading = false;
	}
}

function removeFile(field_name) {
	$.ajax({
		url: '/apply/{{draft.pk}}/remove/' + field_name,
		success: function(data) {
			r_span = document.getElementById(field_name + '_uploaded');
			r_span.innerHTML = '<i>no file uploaded</i>';
		},
	});
}

$(document).ready(function() {
	autosave_timer = window.setInterval("autoSave()", 30000);
	$('.char_counter').each(function(index) {
		var id = "id_" + this.id.replace("_counter","");
    var area = document.getElementById(id);
		var limit = parseInt(this.innerHTML);
		charLimitDisplay(area, limit);
	});
	iframe = document.getElementById("id_upload_frame");
});

if($.browser.mozilla) { //stackoverflow
	console.log('mozilla');
  $(document).on('click', 'label', function(e) {
    if(e.currentTarget === this && e.target.nodeName !== 'INPUT') {
      $(this.control).click();
    }
  });
}
</script>
{%endblock%}

{% block content %}
{% load tz %}
<div class="formwrapper">
	<form id="non_file" action="/apply/{{cycle.pk}}/" method="POST" accept-charset="UTF-8">

		<div id="test" style="display:none;">
			TEST ONLY: {{form.errors}}
		</div>
		
		<div align="center">
			<h1>{{cycle}} Application</h1>
			{% if cycle.info_page %}<a href="/apply/info/{{cycle.pk}}" target="_blank">application instructions</a><br><br>{% endif %}
			<span id="last_saved" title="The form is automatically saved every 30 seconds">Last saved: <span id="autosaved">{{draft.modified|date:"F j, g:ia"}}</span></span>
		</div>
		{% autoescape off %}
		<table id="application_form"><!-- Form starts -->
			<tr>
				<td><h4>Organization and Grant Request Profile</h4></td> <!-- Header -->
				<td>{% if profiled %}<div id="autofilled" title="As a convenience, some information has been automatically filled in based on your most recent submitted application.  It can be removed or overwritten as needed.">Pre-filled <img class="info" src="/static/images/info.png"></div>{% endif %}</td>
			</tr> 
			<tr>
				<td>{{form.address.errors}}</td>
				<td>{{form.city.errors}}</td>
			</tr><tr>
				<td>{{form.address.label_tag}}{{form.address}}</td>
				<td>{{form.city.label_tag}}{{form.city}} </td>
			</tr>   
			<tr>
				<td>{{form.state.errors}}</td>
				<td>{{form.zip.errors}}</td>
			</tr><tr>
				<td>{{form.state.label_tag}}{{form.state}}</td>
				<td>{{form.zip.label_tag}}{{form.zip}}</td>
			</tr>    
			<tr>
				<td>{{form.telephone_number.errors}}</td>
				<td>{{form.fax_number.errors}}</td>
			</tr><tr>
				<td>{{form.telephone_number.label_tag}}{{form.telephone_number}}</td>
				<td>{{form.fax_number.label_tag}}{{form.fax_number}}</td>
			</tr>    
			<tr>
				<td>{{form.email_address.errors}}</td>
				<td>{{form.website.errors}}</td>
			</tr><tr>
				<td>{{form.email_address.label_tag}}{{form.email_address}}</td>
				<td>{{form.website.label_tag}}{{form.website}}</td>
			</tr><tr><!-- Organization information -->
				<td colspan="2">{{form.status.label_tag}}{{form.status}}{{form.status.errors}}</td>
			</tr> 
			<tr>
				<td>{{form.ein.errors}}</td>
				<td>{{form.founded.errors}}</td>
			</tr><tr>
				<td>{{form.ein.label_tag}}{{form.ein}}</td>
				<td>{{form.founded.label_tag}}{{form.founded}}</td>
			</tr><tr>
				<td colspan="2"><div class="vertical_cushion">{{form.contact_person.help_text}}</div></td>
			</tr><tr>
				<td>{{form.contact_person.errors}}</td>
				<td>{{form.contact_person_title.errors}}</td>
			</tr><tr>
				<td>{{form.contact_person.label_tag}}{{form.contact_person}}</td>
				<td>{{form.contact_person_title.label_tag}}{{form.contact_person_title}}</td>
			</tr><tr>
				<td colspan="2"><div class="vertical_cushion">{{form.mission.label_tag}}{{form.mission.errors}}<span class="char_counter" id="mission_counter">150</span></div>
				{{form.mission}}</td>
			</tr><tr>
				<td colspan="2">{{form.previous_grants.errors}}</td>
			</tr><tr>
				<td colspan="2">{{form.previous_grants.label_tag}}{{form.previous_grants}}</td>
			</tr><tr><!-- Budget information -->
				<td>{{form.start_year.label_tag}}{{form.start_year}}</td>
				<td>{{form.start_year.errors}}</td>
			</tr><tr>
				<td>{{form.budget_last.errors}}</td>
				<td>{{form.budget_current.errors}}</td>
			</tr><tr>
				<td>{{form.budget_last.label_tag}} ${{form.budget_last}} </td>
				<td>{{form.budget_current.label_tag}} ${{form.budget_current}}</td>
			</tr><tr>
				<td colspan="2" style="height:28px;">* Upload budget files at the bottom of the form.</td>
			</tr><tr><!-- Grant information -->
				<td colspan="2">{{form.grant_period.label_tag}}{{form.grant_period}}{{form.grant_period.errors}}</td>
			</tr><tr>
				<td>{{form.amount_requested.errors}}</td><td>{{form.support_type.errors}}</td>
			</tr><tr>
				<td>{{form.amount_requested.label_tag}}${{form.amount_requested}}</td>
				<td>{{form.support_type.label_tag}}{{form.support_type}}</td>
			</tr><tr>
				<td>{{form.project_title.errors}}</td>
				<td>{{form.project_budget.errors}}</td>
			</tr><tr>
				<td>{{form.project_title.label_tag}}{{form.project_title}}</td>
				<td>{{form.project_budget.label_tag}} ${{form.project_budget}}</td>
			</tr><tr>
				<td colspan="2"><div class="vertical_cushion">{{form.grant_request.label_tag}}{{form.grant_request.errors}}<span class="char_counter" id="grant_request_counter">100</span></div>
				{{form.grant_request}}</td>
			</tr><tr>
				<td><br><u>Fiscal sponsor information (if applicable)</u></td><!-- Fiscal sponsor info -->
			</tr><tr>
				<td>{{form.fiscal_org.errors}}</td>
				<td>{{form.fiscal_person.errors}}</td>
			</tr><tr>
				<td>{{form.fiscal_org.label_tag}}{{form.fiscal_org}}</td>
				<td>{{form.fiscal_person.label_tag}}{{form.fiscal_person}}</td>
			</tr><tr>
				<td>{{form.fiscal_telephone.errors}}</td><td>{{form.fiscal_email.errors}}</td>
			</tr><tr>
				<td>{{form.fiscal_telephone.label_tag}}{{form.fiscal_telephone}}</td>
				<td>{{form.fiscal_email.label_tag}}{{form.fiscal_email}}</td>
			</tr><tr>
				<td colspan="2">{{form.fiscal_address.errors}}</td>
			</tr><tr>
				<td>{{form.fiscal_address.errors}}</td>
				<td>{{form.fiscal_city.errors}}</td>
			</tr><tr>
				<td>{{form.fiscal_address.label_tag}}{{form.fiscal_address}}</td>
				<td>{{form.fiscal_city.label_tag}}{{form.fiscal_city}} </td>
			</tr>   
			<tr>
				<td>{{form.fiscal_state.errors}}</td>
				<td>{{form.fiscal_zip.errors}}</td>
			</tr><tr>
				<td>{{form.fiscal_state.label_tag}}{{form.fiscal_state}}</td>
				<td>{{form.fiscal_zip.label_tag}}{{form.fiscal_zip}}</td>
			</tr><tr>
				<td colspan="2" style="height:28px;">* Upload fiscal letter at the bottom of the form if applicable.</td>
			</tr>
		</table>

		<h4>Narratives</h4><!-- Narrative -->

		Be as specific as possible when responding to each item. Your responses will reflect on the soundness of your organizational structure, your social change strategy and your organizing plan.	Please keep in mind that the strength of your written application will significantly influence the overall score you receive in the decision-making process. <img class="info" src="/static/images/info.png" title="See Social Justice Fund's Grantmaking Criteria, included in the application instructions linked at the top of the page.">
		
		<div class="narrative_q">1. {{form.narrative1.label}}<br><br>
		{{form.narrative1.errors}}{{form.narrative1}}
		<span class="char_counter" id="narrative1_counter">{{limits.1}}</span></div>

		<div class="narrative_q">2. {{form.narrative2.label}}
		{{form.narrative2.errors}}{{form.narrative2}}
		<span class="char_counter" id="narrative2_counter">{{limits.2}}</span></div>

		<div class="narrative_q">3. {{form.narrative3.label}}
		{{form.narrative3.errors}}{{form.narrative3}}
		<span class="char_counter" id="narrative3_counter">{{limits.3}}</span></div>

		<div class="narrative_q">4. {{form.narrative4.label}}
		{{form.narrative4.errors}}{{form.narrative4}}
		<span class="char_counter" id="narrative4_counter">{{limits.4}}</span></div>
		
		{{form.timeline.errors}}
		{{form.timeline}}
		
		<div class="narrative_q">5. {{form.narrative5.label}}
		{{form.narrative5.errors}}{{form.narrative5}}
		<span class="char_counter" id="narrative5_counter">{{limits.5}}</span>
		<table class="narrative_references"><tr>
		<td colspan="4">{{form.collab_ref1_name.help_text}}</td>
		</tr><tr class="main_row">
		<td>{{form.collab_ref1_name.label_tag}}</td>
		<td>{{form.collab_ref1_org.label_tag}}</td>
		<td>{{form.collab_ref1_phone.label_tag}}</td>
		<td>{{form.collab_ref1_email.label_tag}}</td>
		</tr><tr>
		<td>{{form.collab_ref1_name.errors}}</td>
		<td>{{form.collab_ref1_org.errors}}</td>
		<td>{{form.collab_ref1_phone.errors}}</td>
		<td>{{form.collab_ref1_email.errors}}</td>
		</tr><tr>
		<td>{{form.collab_ref1_name}}</td>
		<td>{{form.collab_ref1_org}}</td>
		<td>{{form.collab_ref1_phone}}</td>
		<td>{{form.collab_ref1_email}}</td>
		</tr><tr>
		<td>{{form.collab_ref2_name.errors}}</td>
		<td>{{form.collab_ref2_org.errors}}</td>
		<td>{{form.collab_ref2_phone.errors}}</td>
		<td>{{form.collab_ref2_email.errors}}</td>
		</tr><tr>
		<td>{{form.collab_ref2_name}}</td>
		<td>{{form.collab_ref2_org}}</td>
		<td>{{form.collab_ref2_phone}}</td>
		<td>{{form.collab_ref2_email}}</td>
		</tr></table>
		</div>
		
		<div class="narrative_q">6. {{form.narrative6.label}}<br>
		{{form.narrative6.errors}}{{form.narrative6}}
		<span class="char_counter" id="narrative6_counter">{{limits.6}}</span>
		<table class="narrative_references"><tr>
		<td colspan="4">{{form.racial_justice_ref1_name.help_text}}</td>
		</tr><tr class="main_row">
		<td>{{form.racial_justice_ref1_name.label_tag}}</td>
		<td>{{form.racial_justice_ref1_org.label_tag}}</td>
		<td>{{form.racial_justice_ref1_phone.label_tag}}</td>
		<td>{{form.racial_justice_ref1_email.label_tag}}</td>
		</tr><tr>
		<td>{{form.racial_justice_ref1_name.errors}}</td>
		<td>{{form.racial_justice_ref1_org.errors}}</td>
		<td>{{form.racial_justice_ref1_phone.errors}}</td>
		<td>{{form.racial_justice_ref1_email.errors}}</td>
		</tr><tr>
		<td>{{form.racial_justice_ref1_name}}</td>
		<td>{{form.racial_justice_ref1_org}}</td>
		<td>{{form.racial_justice_ref1_phone}}</td>
		<td>{{form.racial_justice_ref1_email}}</td>
		</tr><tr>
		<td>{{form.racial_justice_ref2_name.errors}}</td>
		<td>{{form.racial_justice_ref2_org.errors}}</td>
		<td>{{form.racial_justice_ref2_phone.errors}}</td>
		<td>{{form.racial_justice_ref2_email.errors}}</td>
		</tr><tr>
		<td>{{form.racial_justice_ref2_name}}</td>
		<td>{{form.racial_justice_ref2_org}}</td>
		<td>{{form.racial_justice_ref2_phone}}</td>
		<td>{{form.racial_justice_ref2_email}}</td>
		</tr></table>
		</div>
		
		{% if cycle.extra_question %}
		<div class="narrative_q">7. {{cycle.extra_question}}<br>
		{{form.cycle_question.errors}}{{form.cycle_question}}
		<span class="char_counter" id="cycle_question_counter">{{limits.7}}</span>
		</div>
		{% endif %}
		
		<input id="hidden_submit_app" type="submit" value="Submit EVERYTHING" style="display:none;"/>
	</form>

	<iframe class="upload" id="id_upload_frame" name = "upload_frame" onload="iframeUpdated(this);"></iframe><!--hidden iframe for file submissions -->
	
		<h4>File uploads</h4><!-- Files -->
		<p><a href="/apply/info/{{cycle.pk}}" target="_blank">Download templates here.</a><br><br>
		Templates for budgets, funding sources and diversity chart can be downloaded above.  For budget documents, you may use your own format if preferred.</p>
		<table id="file_upload_table" style="width:100%;">
			<tr>
				<td colspan="4">{{form.budget.errors}}</td>
			</tr>
			<tr>
				<td style="width:150px;vertical-align:top;">1. Budget</td>
				<td style="width:175px;">All in one file</td>
				<td style="width:100px;"><form class="files_form" id="budget_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.budget.auto_id}}">Choose file</label>{{form.budget}}<input id="budget_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td style="width:350px;"><span id="budget_uploaded">{{file_urls.budget}}</span></td>
			</tr><tr style="line-height:2em;">
				<td></td>
				<td></td>
				<td><div align="center">OR</div></td>
				<td></td>
			</tr><tr>
				<td>{{form.budget1.errors}}</td>
				<td>{{form.budget1.label}}</td>
				<td><form class="files_form" id="budget1_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.budget1.auto_id}}">Choose file</label>{{form.budget1}}<input id="budget1_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="budget1_uploaded">{{file_urls.budget1}}</span></td>
			</tr><tr>
				<td>{{form.budget2.errors}}</td>
				<td>{{form.budget2.label}}</td>
				<td><form class="files_form" id="budget2_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.budget2.auto_id}}">Choose file</label>{{form.budget2}}<input id="budget2_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="budget2_uploaded">{{file_urls.budget2}}</span></td>
			</tr><tr>
				<td>{{form.budget3.errors}}</td>
				<td>{{form.budget3.label}}</td>
				<td><form class="files_form" id="budget3_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.budget3.auto_id}}">Choose file</label>{{form.budget3}}<input id="budget3_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="budget3_uploaded">{{file_urls.budget3}}</span></td>
			</tr><tr>
				<td>{{form.project_budget_file.errors}}</td>
				<td>{{form.project_budget_file.label}}</td>
				<td><form class="files_form" id="project_budget_file_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.project_budget_file.auto_id}}">Choose file</label>{{form.project_budget_file}}<input id="project_budget_file_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="project_budget_file_uploaded">{{file_urls.project_budget_file}}</span></td>
			</tr><tr>
				<td>2. Diversity chart</td>
				<td>{{form.demographics.errors}}</td>
				<td><form class="files_form" id="demographics_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.demographics.auto_id}}">Choose file</label>{{form.demographics}}<input id="demographics_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="demographics_uploaded">{{file_urls.demographics}}</span></td>
			</tr><tr>
				<td>3. Funding sources</td>
				<td>{{form.funding_sources.errors}}</td>
				<td><form class="files_form" id="funding_sources_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.funding_sources.auto_id}}">Choose file</label>{{form.funding_sources}}<input id="funding_sources_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="funding_sources_uploaded">{{file_urls.funding_sources}}</span></td>
			</tr><tr>	
				<td>4. Fiscal letter <img class="info" src="/static/images/info.png" title="{{form.fiscal_letter.help_text}}" alt="{{form.fiscal_letter.help_text}}"></td>
				<td>{{form.fiscal_letter.errors}}</td>
				<td><form class="files_form" id="fiscal_letter_form" action="" target="upload_frame" method="POST" enctype="multipart/form-data" accept-charset="UTF-8"><label for="{{form.fiscal_letter.auto_id}}">Choose file</label>{{form.fiscal_letter}}<input id="fiscal_letter_submit" type="submit" value="Submit files" style="display:none;"/></form></td>
				<td><span id="fiscal_letter_uploaded">{{file_urls.fiscal_letter}}</span></td>
			</tr>
		</table>
		{% endautoescape %}
		<div align="center"></div>

	<div align="center">
		<img id="ajax_loading" src="/static/images/ajaxloader.gif" style="display:none;"><br>
		<button onclick="autoSave(submit=true);">Submit application</button>
	</div>
</div>
{% endblock %}