{% load url from future %}
Greetings,

You are receiving this email because you requested that your password for {{user.username}} be reset for the Social Justice Fund online grant application at {{protocol}}://{{domain}}{% url 'grants.views.OrgHome' %}.  If you do not wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it into your web browser:
{{protocol}}://{{domain}}{% url 'org-reset' uidb36=uid token=token %}

Best regards,
Social Justice Fund