{% load url from future %}
Greetings,

You are receiving this email because you requested that your password be reset for the <a href="{{protocol}}://{{domain}}{% url 'grants.views.OrgHome %}'">Social Justice Fund grants portal</a>.  If you do not wish to reset your password, please ignore this message.

To reset your password, please click the following link, or copy and paste it into your web browser:
{{protocol}}://{{domain}}{% url 'org-reset' uidb36=uid token=token %}

Your login email, in case you've forgotten: {{user.username}}

Best regards,
Social Justice Fund