{% extends 'grants/base.html' %}

{% block title %}Grant cycle information | {{block.super}}{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready(function() {

  console.log('loading info page');

  $.support.cors = true; // for IE

  $.ajax({
    url: '{{ cycle.info_page }}',
    type: "GET",
    async: false, //cross-domain can't be async

    success: function(data, textStatus, jqXHR){
      console.log('success: ' + jqXHR.status);
      console.log(textStatus);
      var content = data.match(/<div id="content"(.|\n|\r)+<!-- \/\.section, \/#content -->/);
      console.log(content);
      if (content){
        document.getElementById('cycle-info').innerHTML = content[0].replace("modules/file/icons", "static/images");
      } else {
      document.getElementById('cycle-info').innerHTML = 'Could not load info page.  Try visiting the page directly: <a href="{{ cycle.info_page }}" target="_blank">{{ cycle.info_page }}</a>.';
      }
    },

    error: function(jqXHR, textStatus, errorThrown){
      console.log('error: ' + jqXHR.status);
      console.log(textStatus);
      console.log(errorThrown);
    }
  });
});
</script>
{% endblock script %}

{% block content %}
<br>
<br>

<h3>Please review grant cycle information below before beginning the application</h3>

{% if cycle.is_open %}
<div align="center">
  <button id="apply-now" onclick="location.href='/apply/{{cycle.pk}}'">Continue to application</button>
</div>
<br><br>
{% endif %}
<hr>

<div id="cycle-info" class="info-frame">
  <img id="loading" src="/static/images/ajaxloader.gif" alt="Loading..." style="margin:100px 0 0 50%;">
</div>

{% endblock %}

