{% extends 'grants/base.html' %}
{% block title %}Grant cycle information | {{block.super}}{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
   //$("#ifr").load(function() {
   //   $("#loading").hide();
   //   this.style.visibility = '';
   //});
});
</script>
{% endblock %}
{% block content %}
<br><br>
<h2>Please review <a href="{{ cycle.info_page }}" target="_blank">grant cycle information</a> before beginning the application</h2>
<!--<img id="loading" src="/static/images/ajaxloader.gif" alt="Loading..." style="margin:100px 0 0 50%;">
<iframe id="ifr" class="info_frame" src="{{cycle.info_page}}" style="visibility:hidden;"></iframe> -->
{% if cycle.is_open %}
<div align="center"><button id="apply-now" onclick="location.href='/apply/{{cycle.pk}}'">Continue to application</button></div>
<br><br><br>
{% endif %}
{% endblock %}
