{% extends 'grants/reading.html' %}

{% block scripts %}
<script type="text/javascript">
	var main_div;
  var frame;
  var first = true;
	function showMain(){
		console.log('displaying main content');
		main_div.style.display = '';
		frame.style.display = 'none';
	}

function showAttachment(){
    if (first){
      first = false;
    } else if (frame){
			console.log('Displaying iframe');
			frame.style.display = '';
			main_div.style.display = 'none';
		}
}

	$(document).ready(function() {
		console.log('doc is ready');
		main_div = document.getElementById('main_content');
    frame = document.getElementById('reading_frame');
	});
</script>
{% endblock %}

{% block sidebar %}
<div class="reading_sidebar"><!-- sidebar -->
	<div class="title">
		<div class="heading_sm_margin">{{app.organization}}</div>
		<div class="heading_sm_margin">{{app.grant_cycle}}</div>
		{{app.submission_time|date:"F j, Y"}}
	</div>
	<div class="contents">
		<a onclick="showMain()">Application form</a><a href="?form=1" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a><br><br>
		Uploaded files:
		<ol class="contents">
      {% if app.fiscal_letter and perm > 1 %}
      <li>
        <a href="{{file_urls.fiscal_letter}}" target="reading_frame">Fiscal letter</a>
        <a href="{{print_urls.fiscal_letter}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      {% endif %}
      {% if app.budget %}
      <li>
        <a href="{{file_urls.budget}}" target="reading_frame">Budget</a>
        <a href="{{print_urls.budget}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      {% else %}
      <li>
        <a href="{{file_urls.budget1}}" target="reading_frame">Annual statement</a>
        <a href="{{print_urls.budget1}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      <li>
        <a href="{{file_urls.budget2}}" target="reading_frame">Annual operating budget</a>
        <a href="{{print_urls.budget2}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      {% if app.budget3 %}
      <li>
        <a href="{{file_urls.budget3}}" target="reading_frame">Balance sheet</a>
        <a href="{{print_urls.budget3}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      {% endif %}
      {% if app.project_budget_file %}
      <li>
        <a href="{{file_urls.project_budget_file}}" target="reading_frame">Project budget</a>
        <a href="{{print_urls.project_budget_file}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      {% endif %}
      {% endif %}
      <li>
        <a href="{{file_urls.funding_sources}}" target="reading_frame">Funding sources</a>
        <a href="{{print_urls.funding_sources}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
      <li>
        <a href="{{file_urls.demographics}}" target="reading_frame">Diversity chart</a>
        <a href="{{print_urls.demographics}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
      </li>
		</ol>
    {% if app.site_visit_report %}{% if perm == 1 or perm == 2 %}
    <a href="{{app.site_visit_report}}" target="reading_frame">Site visit report</a>
    <a href="{{app.site_visit_report}}" target="_blank"><img class="print" title="Open in new tab for printing" src="/static/images/print.png"></a>
    {% endif %}{% endif %}
	</div>
</div>
{% endblock %}

{% block main %}
<div class="reading_pane">
  {{ block.super }}
  <iframe id="reading_frame" name="reading_frame" src="" onload='showAttachment()' style="display:none;"><!-- file attachments -->
</div>
{% endblock %}
