<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" type="text/css" href="/static/css/grants.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript">
	var main_div;
	var frame;
	function showMain(){
		console.log('displaying main content');
		main_div.style.display = '';
		frame.style.display = 'none';
	}
	
	function showAttachment(){
		if (frame){
			console.log('show attachment');
			var results = frame.contentDocument.body.innerHTML;
			console.log("The iframe changed! New contents: " + results);
			if (results) {
				console.log('displaying iframe');
				frame.style.display = '';
				main_div.style.display = 'none';
			}
		}
	}
	
	$(document).ready(function() {
		console.log('doc is ready');
		main_div = document.getElementById('main_content');
		frame = document.getElementById('reading_frame');
		console.log(frame);
	})
	</script>
</head>

<body>
<div class="reading_sidebar"><!-- sidebar -->
	<div class="title">
		<div class="heading_sm_margin">{{app.organization}}</div>
		<div class="heading_sm_margin">{{app.grant_cycle}}</div>
		{{app.submission_time|date:"F j, Y"}}
	</div>
	<div class="contents">
		<a onclick="showMain()">Application form</a><br><br>
		Uploaded files:
		<ol class="contents">
			{% if app.fiscal_letter %}<!-- fiscal letter -- update -->
			<li><a href="{{file_urls.fiscal_letter}}" target="reading_frame">Fiscal letter</a></li>
			{% endif %}
			{% if app.budget %}
			<li><a href="{{file_urls.budget}}" target="reading_frame">Budget</a></li>
			{% else %}
			<li><a href="{{file_urls.budget1}}" target="reading_frame">Annual statement</a></li>
			<li><a href="{{file_urls.budget2}}" target="reading_frame">Annual operating budget</a></li>
			{% if app.budget3 %}
			<li><a href="{{file_urls.budget3}}" target="reading_frame">Balance sheet</a></li>
			{% endif %}
			{% if app.project_budget_file %}
			<li><a href="{{file_urls.project_budget_file}}" target="reading_frame">Project budget</a></li>
			{% endif %}
			{% endif %}
			<li><a href="{{file_urls.funding_sources}}" target="reading_frame">Funding sources</a></li>
			<li><a href="{{file_urls.demographics}}" target="reading_frame">Diversity chart</a></li>			
		</ol>
	</div>
</div>

<div class="reading_pane">
	<!-- main content -->
	<div id="main_content">
	{% autoescape off %}{% load humanize %}
		<h4>Organization and Grant Request Profile</h4><!-- Profile -->
		<table style="width:100%;">
			<tr>
				<td colspan="2">{{form.address.label_tag}}{{app.address}} {{app.city}}, {{app.state}} {{app.zip}}</td>
			</tr><tr>
				<td>{{form.telephone_number.label_tag}}{{app.telephone_number}}</td>
				<td>{{form.fax_number.label_tag}}{{app.fax_number}}</td>
			</tr><tr>
				<td>{{form.email_address.label_tag}}{{app.email_address}}</td>
				<td>{{form.website.label_tag}}{{app.website}}</td>
			</tr><tr>
				<td><b>{{form.contact_person.help_text}}</b></td>
				<td>{{app.contact_person}}, {{app.contact_person_title}}</td>
			</tr><tr>	
				<td>{{form.status.label_tag}}{{app.status}}</td>
				<td>{{form.founded.label_tag}}{{app.founded}}</td>
			</tr><tr>
				<td>{{form.ein.label_tag}}{{app.ein}}</td>
			</tr><tr>
				<td colspan="2">{{form.mission.label_tag}}{{app.mission}}</td>
			</tr><tr>
				<td>{{form.start_year.label_tag}}{{app.start_year}}</td>
				<td>{{form.grant_period.label_tag}}{{app.grant_period}}</td>
			</tr><tr>
				<td>{{form.budget_last.label_tag}}${{app.budget_last|intcomma}}</td>
				<td>{{form.budget_current.label_tag}}${{app.budget_current|intcomma}}</td>
			</tr><tr>
				<td colspan="2">{{form.previous_grants.label_tag}}{{app.previous_grants}}</td>
			</tr><tr>
				<td>{{form.amount_requested.label_tag}}{{app.amount_requested|intcomma}}</td>
				<td>{{form.support_type.label_tag}}{{app.support_type}}</td>
			</tr><tr>
				<td>{{form.project_title.label_tag}}{{app.project_title|default:"N/A"}}</td>
				{%if app.project_budget%}
				<td>{{form.project_budget.label_tag}}${{app.project_budget|intcomma}}</td>
				{%endif%}
			</tr><tr>
				<td colspan="2">{{form.grant_request.label_tag}}{{app.grant_request}}</td>
			</tr><tr>
			{%if app.fiscal_org%}
				<td colspan="2"><b>Fiscal sponsor information</b></td><!-- Fiscal sponsor info -->
			</tr><tr>
				<td>{{form.fiscal_org.label_tag}}{{app.fiscal_org|default:"N/A"}}</td>
				<td>{{form.fiscal_person.label_tag}}{{app.fiscal_person}}</td>
			</tr><tr>
				<td>{{form.fiscal_address.label_tag}}{{app.fiscal_address}}</td>
				<td>{{form.fiscal_telephone.label_tag}}{{app.fiscal_telephone}}</td>
			</tr><tr>
				<td>{{form.fiscal_email.label_tag}}{{app.fiscal_email}}</td>
				<td><b>Fiscal sponsor letter:</b><a href="{{file_urls.fiscal_letter}}" target="_blank">View</a></td>
			</tr>
			{% endif %}
		</table>

		<h4>Narratives</h4><!-- Narrative -->
		<p><b>1. {{form.narrative1.label}}</b></p>
		<p>{{app.narrative1}}</p>
		<p><b>2. {{form.narrative2.label}}</b></p>
		<p>{{app.narrative2}}</p>
		<p><b>3. {{form.narrative3.label}}</b></p>
		<p>{{app.narrative3}}</p>
		<p><b>4. {{form.narrative4.label}}</b></p>
		<p>{{app.narrative4}}</p>
		{{app.timeline_display}}
		<p><b>5. {{form.narrative5.label}}</b></p>
		<p>{{app.narrative5}}</p>
		<p><b>{{form.collab_ref1_name.help_text}}</b></p>
		<p>1. {{app.collab_ref1_name}}, {{app.collab_ref1_org}}. {{app.collab_ref1_phone|add:" "}}{{app.collab_ref1_email}}</p>
		<p>2. {{app.collab_ref2_name}}, {{app.collab_ref2_org}}. {{app.collab_ref2_phone|add:" "}}{{app.collab_ref2_email}}</p>
		<p><b>6. {{form.narrative6.label}}</b></p>
		<p>{{app.narrative6}}</p>
		<p><b>{{form.racial_justice_ref1_name.help_text}}</b></p>
		{% if app.racial_justice_ref1_org %}
			<p>1. {{app.racial_justice_ref1_name}}, {{app.racial_justice_ref1_org}}. {{app.racial_justice_ref1_phone|add:" "}}{{app.racial_justice_ref1_email}}</p>
			{% if app.racial_justice_ref2_name %}
				<p>2. {{app.racial_justice_ref2_name}}, {{app.racial_justice_ref2_org}}. {{app.racial_justice_ref2_phone|add:" "}}{{app.racial_justice_ref2_email}}</p>
			{% endif %}
		{% else %}N/A{% endif %}
		{% if app.cycle_question %}
		<p><b>7. {{form.cycle_question.label}}</b></p>
		<p>{{app.cycle_question}}</p>
		{% endif %}
	{% endautoescape %}
	</div>
	<iframe id="reading_frame" name="reading_frame" src="" onload='showAttachment()' style="display:none;"><!-- file attachments -->
</div>

</body>