<div id="award-form" style="display:none;">
  <img class="help_toggle" alt="Click for more information about this form"
       title="Click for more information about this form" src="/static/images/info.png"
       onclick="toggleHelp()">

  {{ award_form.errors}}
  <form id="award-report" method="POST">
    <table><!-- form table -->
      <tr class="heading">
        <td>1.</td>
        <td>Filter criteria</td>
      </tr>
      <tr class="sub_heading">
        <td></td>
        <td>Include only awards that match your selections. Blank categories will not be used to filter</td>
      </tr>
      <tr>
        <td></td>
        <td><table><!-- filter table -->
          <tr>
            <td colspan="3">{{ award_form.year_min.errors}}<h4>Year</h4>Between {{ award_form.year_min}} and {{ award_form.year_max}}</td>
          </tr>
          <tr>
            <td><h4>{{ award_form.organization_name.label}}</h4>{{ award_form.organization_name}}</td>
            <td><h4>{{ award_form.city.label}}</h4>{{ award_form.city}}</td>
            <td rowspan="2">{{ award_form.state.errors}}<h4>{{ award_form.state.label}}</h4>{{ award_form.state}}</td>
            <td></td>
          </tr>
          <tr>
            <td><h4>{{ award_form.has_fiscal_sponsor.label}}</h4>{{ award_form.has_fiscal_sponsor}}</td>
          </tr>
        </table></td>
      </tr>
      <tr class="heading">
        <td>2.</td>
        <td>Fields to include</td>
      </tr>
      <tr class="sub_heading">
        <td></td>
        <td>Select the fields you want to include in the report</td>
      </tr>
      <tr>
        <td></td>
        <td>
          <table><!-- fields table -->
            <tr>
              <td>
                <h4>{{ award_form.report_basics.label}}</h4>{{ award_form.report_basics}}
                <h4>{{ award_form.report_org.label}}</h4>{{ award_form.report_org}}
              </td>
              <td>
                <h4>{{ award_form.report_contact.label}}</h4>
                <div class="mult_select">
                  [<a onclick="check('report_contact', true)">all</a>] [<a onclick="check('report_contact', false)">none</a>]
                </div>
                {{ award_form.report_contact}}
              </td>
            </tr>
            <tr>
              <td>
                <h4>{{ award_form.report_check_number.label}}</h4>{{ form.report_check_number }}
              </td>
              <td>
                <h4>{{ form.report_date_approved.label }}</h4>{{ form.report_date_approved }}
              </td>
              <td>
                <h4>{{ form.report_agreement_dates.labels }}</h4>{{ form.report_agreement_dates }}
              </td>
              <td>
                <h4>{{ form.report_year_end_report_due.labels }}</h4>{{ form.report_year_end_report_due }}
              </td>
          </table>
        </td>
     </tr>
     <tr class="heading">
       <td>3.</td>
       <td>Output</td>
     </tr>
     <tr class="sub_heading">
       <td></td>
       <td>Select the format for the report</td>
     </tr>
     <tr>
       <td></td>
       <td>{{ award_form.format}}</td>
     </tr>
   </table>

    <input type="submit" name="run-award" id ="run" value="Run report">
  </form>
</div>


