{% extends "grants/base.html" %}

{% block title %}Submitted after deadline | {{block.super}}{% endblock %}

{% block content %}
{{cycle}} closed at {{cycle.close}}. You have submitted your application after the deadline. A copy of your applications is saved in your organization profile, but will not be considered for this grant cycle. If there were extenuating circumstances that impacted the submission of this application, contact us immediately at 206-624-4081 or <a href="mailto:mijo@socialjusticefund.org">mijo@socialjusticefund.org</a>
{% endblock %}

