{% extends 'grants/base.html' %}
{% block title %}View application | {{block.super}}{% endblock %}
{% block content %}
{% autoescape off %}{% load humanize %}
<div class="formwrapper" id="formreader">
  {% include 'grants/view_main.html' %}<!-- form data -->	
  <h4>Files</h4>
  {%if app.budget %}
  <p><u>Budget</u>: <a href="{{file_urls.budget}}" target="_blank">View</a></p>
  {%else%}
	<p><u>Budget files</u>: <a href="{{file_urls.budget1}}" target="_blank">{{form.budget1.label}}</a>, <a href="{{file_urls.budget2}}" target="_blank">{{form.budget2.label}}</a>
	{% if form.budget3 %}, <a href="{{file_urls.budget3}}" target="_blank">{{form.budget3.label}}</a>{% endif %}{% if form.project_budget_file %}, <a href="{{file_urls.project_budget_file}}" target="_blank">{{form.project_budget_file.label}}</a>{% endif %}</p>
	{% endif %}
  <p><u>Demographics</u>: <a href="{{file_urls.demographics}}" target="_blank">View</a></p>
  <p><u>Funding sources</u>: <a href="{{file_urls.funding_sources}}" target="_blank">View</a></p>

</div>
{% endautoescape %}
{%endblock%}