{% extends 'base.html' %}

{# not grants/base.html bc this gets loaded into an iframe and shouldn't have the header/footer #}
{% block title %}Year-end report | {{ block.super }}{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/grants.css">
{% endblock style %}

{% block script %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28076150-2']); 

  //custom variable 1 user type, session level
  _gaq.push(['_setCustomVar', 1, 'User type', {% if user.username == 'sjfnwads@gmail.com' %}'Aisa'{% elif user.is_staff %}'Staff'{% elif user.is_authenticated %}'User'{% else %}'Anonymous'{% endif %}, 2]);     
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock script %}

{% block body %}
<div id="main_content">
  <div class="center">
    <h2>Year End Report - {{ projectapp.application.organization }}</h2>
  </div>
  <div class="display">
    <div class="info-box">
      <p><label>Grant program:</label> {{ projectapp.giving_project}} Grant</p>
      <p><label>Amount:</label> ${{ award.amount }}</p>
      <p><label>Proposal ID:</label> {{ projectapp.application.pk }}</p>
      <p><label>Year end report submitted:</label> {{ report.submitted }}</p>
    </div>
    <p>
    <p>{{ form.contact_person.label_tag }} {{ report.contact_person }}</p>
    <p>{{ form.email.label_tag }} {{ report.email }}</p>
    <p>{{ form.phone.label_tag }} {{ report.phone }}</p>
    <p>{{ form.website.label_tag }} {{ report.website }}</p>

    <p>{{ form.summarize_last_year.label_tag }}</p>
    <p>{{ report.summarize_last_year }}</p>

    <p>{{ form.goal_progress.label_tag }}</p>
    <p>{{ report.goal_progress }}</p>

    <p>{{ form.quantitative_measures.label_tag }}</p>
    <p>{{ report.quantitative_measures|default:"N/A" }}</p>

    <p>{{ form.evaluation.label_tag }}</p>
    <p>{{ report.evaluation }}</p>

    <p>{{ form.achieved.label_tag }}</p>
    <p>{{ report.achieved }}</p>

    <p>{{ form.collaboration.label_tag }}</p>
    <p>{{ report.collaboration }}</p>

    <p>{{ form.new_funding.label_tag }}</p>
    <p>{{ report.new_funding|default:"N/A" }}</p>

    <p>{{ form.major_changes.label_tag }}</p>
    <p>{{ report.major_changes|default:"N/A" }}</p>

    <p>{{ form.total_size.label_tag }}</p>
    <p>{{ report.total_size }}</p>

    <p>{{ form.donations_count.label_tag }}</p>
    <p>{{ report.donations_count }}</p>

    <p>{{ form.stay_informed.label_tag }}</p>
    <p>{{ report.stay_informed_display }}</p>

    <p>{{ form.other_comments.label_tag }}</p>
    <p>{{ report.other_comments|default:"N/A" }}</p>

    <p><label>Photos</label></p>

    <a href="{{ file_urls.photo1 }}"><img class="yer-photo" src={{ file_urls.photo1 }}></a>

    <a href="{{ file_urls.photo2 }}"><img class="yer-photo" src={{ file_urls.photo2 }}></a>

    {% if app.photo3 %}
    <a href="{{ file_urls.photo3 }}"><img class="yer-photo" src={{ file_urls.photo3 }}></a>
    {% endif %}

    {% if app.photo4 %}
    <a href="{{ file_urls.photo4 }}"><img class="yer-photo" src={{ file_urls.photo4 }}></a>
    {% endif %}

    {% if perm > 1 %}
    <label>Photo release:</label> <a href="{{ file_urls.photo_release }}">View</a>
    {% endif %}

  </div>{# .display #}
</div>{# #main_content #}

{% endblock body %}

