{% extends "admin/base_site.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls %}

{% block content %}
<h3>Rollover to another grant cycle</h3>
<br>
<p><b>{{application.organization}} - {{application.grant_cycle}} - submitted {{application.submission_time}}</b></p>
<p>This will make a copy of this application for another grant cycle.</p>
<p>The new application will not be editable by the organization -- if they want to modify it before submitting to the other cycle, they should do the rollover themselves.</p>
<p>Not carried over:<ul>
<li>Screening status (defaults to 'Received')</li>
<li>Application-specific log entries will remain as-is</li>
</ul></p>

<form action="" method="post">
	{{form}}
	<input type="submit" value="Yes, I'm sure" />
</form>
{% endblock %}